@media only screen and (min-width: 1200px) { .header { width: 1200px; margin: 0 auto; }
  .h1 { width: 1200px; margin: 30px auto; }
  .wrap { width: 1200px; }
  .wrap .scroll__cont_news { overflow: hidden; }
  .wrap .scroll__cont { width: auto; float: none; }
  .wrap .date { margin-left: 40px; }
  .logo { margin-right: 130px; }
  .content { width: auto; padding-bottom: 15px; display: block; }
  .footer__wrap { width: 1200px; }
  .footer__left { width: 900px; margin-right: 0; }
  .footer__left .left { width: 660px; }
  .footer__left .left li:first-child { width: 660px; }
  .footer__left .right { width: 240px; }
  .footer__left .right li:first-child { width: 240px; }
  .footer__right { float: right; }
  .slider { width: 90%; margin: 0 auto; }
  .slider .slider__bg { width: 100%; height: 100%; }
  .slider__title { left: 330px; }
  .slider__bg { margin-right: 200px; }
  .slider__bg a { display: block; }
  .slider__bg img { width: 100%; height: 100%; }
  .news:after { width: 100%; background: url("../img/icons/news_btm2.png") 0 0px repeat-x; }
  .news__items { margin-right: 0; }
  .slider_innerBuy { width: 1200px; }
  .kat__conteiner { width: auto; }
  .kat__descr { width: auto; float: none; overflow: hidden; }
  .kat_mod2 .kat_mod__cont { width: auto; overflow: hidden; float: none; margin-right: 35px; }
  .support_aboutContacts { float: none; margin: 0 auto; padding: 45px 95px 40px; }
  .contact-form { width: 425px; float: none; margin: 0 auto; width: 400px; background: #C1E4FC; padding: 50px; text-align: center; }
  .contact-form .i_er { right: 36px; }
  .download__left { width: 100%; } }
