@media only screen and (min-width: 1200px) { .header { width: 1200px; margin: 0 auto; }
  .h1 { width: 1200px; margin: 30px auto; }
  .wrap { width: auto; }
  .wrap_1200 { width: 1200px; }
  .wrap_1200 .scroll__cont_news { overflow: hidden; }
  .wrap_1200 .scroll__cont { width: auto; float: none; }
  .wrap_1200 .date { margin-left: 40px; }
  .logo { margin-right: 130px; }
  .content { width: auto; padding-bottom: 15px; display: block; }
  .slider { width: 90%; margin: 0 auto; }
  .slider .slider__bg { width: 100%; height: 100%; }
  .slider__title { left: 330px; }
  .slider__bg { margin-right: 200px; }
  .slider__bg a { display: block; }
  .slider__bg img { width: 100%; height: 100%; }
  .news:after { width: 100%; background: url("../img/icons/news_btm2.png") 0 0px repeat-x; }
  .news__items { margin-right: 0; margin-left: 80px; } }
