.header__general, .footer__wrap, .footer__right, .sub-nav, .js-masonry, .photogallery__nav, .product { *zoom: 1; }
.header__general:before, .footer__wrap:before, .footer__right:before, .sub-nav:before, .js-masonry:before, .photogallery__nav:before, .product:before, .header__general:after, .footer__wrap:after, .footer__right:after, .sub-nav:after, .js-masonry:after, .photogallery__nav:after, .product:after { content: " "; display: table; }
.header__general:after, .footer__wrap:after, .footer__right:after, .sub-nav:after, .js-masonry:after, .photogallery__nav:after, .product:after { clear: both; }

* { margin: 0; padding: 0; }

button::-moz-focus-inner { padding: 0; border: 0; }

input[type="submit"]::-moz-focus-inner { padding: 0; border: 0; }

body { font-family: Arial,sans-serif; font-weight: normal; font-size: 12px; line-height: 1.4; }

a img, fieldset { border: none; }

@font-face { font-family: 'Conv_DlCyLtTf'; src: url("../fonts/DlCyLtTf.eot"); src: url("../fonts/DlCyLtTf.woff") format("woff"), url("../fonts/DlCyLtTf.ttf") format("truetype"), url("../fonts/DlCyLtTf.svg") format("svg"); font-weight: normal; font-style: normal; }

@font-face { font-family: 'Conv_DlCyRgTf'; src: url("../fonts/DlCyRgTf.eot"); src: url("../fonts/DlCyRgTf.woff") format("woff"), url("../fonts/DlCyRgTf.ttf") format("truetype"), url("../fonts/DlCyRgTf.svg") format("svg"); font-weight: normal; font-style: normal; }

.out__border { position: absolute; top: 121px; left: 0; z-index: 100; width: 100%; height: 1px; background: #7a7a7a; }

.out_changeBg .out__border { z-index: -1; height: 1px; background: #d3e5f1; -webkit-box-shadow: 0 1px 4px rgba(66, 144, 195, 0.38); -moz-box-shadow: 0 1px 4px rgba(66, 144, 195, 0.38); box-shadow: 0 1px 4px rgba(66, 144, 195, 0.38); }

.header { background: #FFF; }

.header__toppper { overflow: hidden; height: 49px; border-bottom: 1px solid #e5e5e5; }
.header__toppper .lang { padding: 15px 0 18px; float: left; }
.header__toppper .search { padding: 9px 0; float: right; }

.header__general { min-height: 71px; position: relative; }

.footer { width: 100%; padding: 35px 0 0px; background: #252525; position: relative; color: rgba(255, 255, 255, 0.4); font-family: Calibri, sans-serif; font-size: 12px; }
.footer:before { content: ""; width: 100%; height: 30px; background: url(../img/icons/sexy-border.png) 0px 0px repeat-x; position: absolute; top: -30px; left: 0; }

.footer__wrap { width: 960px; margin: 0 auto; position: relative; }

.footer__left { width: 600px; padding-bottom: 15px; margin-right: 70px; float: left; }
.footer__left .h3 { padding: 0 8px 10px; border-bottom: 2px solid #383838; font-size: 13px; text-transform: uppercase; }
.footer__left .h4 { border-bottom: 1px solid #383838; padding: 10px 8px; height: 24px; line-height: 24px; text-transform: uppercase; }
.footer__left .left, .footer__left .right { list-style: none; }
.footer__left .left a, .footer__left .right a { color: rgba(255, 255, 255, 0.4); text-decoration: none; }
.footer__left .left { width: 345px; margin-bottom: 45px; float: left; }
.footer__left .left li { margin-right: 8px; margin-bottom: 1px; display: inline-block; vertical-align: middle; }
.footer__left .left li a:hover { color: #000; }
.footer__left .left li:hover { background: #4db5f9; }
.footer__left .left li:first-child { width: 345px; padding: 0; margin-right: 0; margin-bottom: 15px; }
.footer__left .left li:first-child:hover { background: transparent; }
.footer__left .left a { width: 56px; display: block; padding: 5px 10px; }
.footer__left .right { width: 255px; float: left; }
.footer__left .right li { margin-right: 8px; margin-bottom: 1px; display: inline-block; vertical-align: middle; }
.footer__left .right li a:hover { color: #000; }
.footer__left .right li:hover { background: #4db5f9; }
.footer__left .right li:first-child:first-child { width: 255px; padding: 0; margin-right: 0; margin-bottom: 15px; }
.footer__left .right li:first-child:first-child:hover { background: transparent; }
.footer__left .right a { width: 98px; display: block; padding: 5px 10px; }

.footer__right { float: left; }
.footer__right .left, .footer__right dl { margin-right: 40px; float: left; list-style: none; }
.footer__right .left li, .footer__right dl li { margin-bottom: 15px; }
.footer__right .left a, .footer__right dl a { padding: 5px 10px; font-size: 12px; color: rgba(255, 255, 255, 0.4); text-decoration: none; text-transform: uppercase; }
.footer__right .left a:hover, .footer__right dl a:hover { background: #4db5f9; color: #000; }
.footer__right dl { float: left; }
.footer__right dl dt { margin-bottom: 20px; font-size: 12px; text-transform: uppercase; }
.footer__right dl dd { font-size: 11px; margin-bottom: 12px; }
.footer__right dl a { text-transform: none; text-decoration: none; color: rgba(255, 255, 255, 0.4); }

.copyright { height: 67px; line-height: 67px; background: #000; }
.copyright .copyright__logo { background: url('../img/icons-sf5c8d29a90.png') 0 -84px no-repeat; width: 115px; height: 30px; display: inline-block; vertical-align: middle; }
.copyright .copyright__info { position: absolute; top: 0px; right: 0; }

.out { position: relative; background: url(../img/bg.jpg) 0% 121px no-repeat; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; }

.out_changeBg { margin-bottom: 10px; background: url(../img/bg2.jpg) 50% 121px no-repeat; overflow: hidden; }

.wrap { width: 960px; margin: 0 auto; }

.content { width: 960px; display: inline-block; }

.content_subNav { padding-top: 41px; }

.l { width: 100%; display: inline-block; }
.l .l-col1 { float: left; width: 20%; }
.l .l-col2 { float: right; width: 70%; }

.i_waves { background: url('../img/icons-sf5c8d29a90.png') 0 -374px no-repeat; width: 68px; height: 18px; position: absolute; top: 13px; right: -80px; }

.i_scheme { background: url('../img/icons-sf5c8d29a90.png') 0 -455px no-repeat; width: 10px; height: 13px; margin-right: 10px; display: inline-block; vertical-align: middle; }

.lang a, .lang span { display: inline-block; padding: 3px 7px; text-decoration: none; font-family: Calibri, sans-serif; color: #4db7fc; }
.lang a:hover, .lang span:hover { text-decoration: underline; }
.lang .active { background: #4db7fc; color: #fff; }

.search { position: relative; }
.search input { border: 1px solid #e3e6e8; padding: 0 10px; height: 29px; font: 14px Calibri,sans-serif; }
.search input:focus { outline: 1px solid #4db7fc; }
.search button { content: ""; position: absolute; top: 17px; right: 10px; background: url('../img/icons-sf5c8d29a90.png') 0 -538px no-repeat; width: 15px; height: 14px; border: none; cursor: pointer; }
.search span { display: none; line-height: 1; }

.logo { background: url('../img/icons-sf5c8d29a90.png') 0 0 no-repeat; width: 130px; height: 34px; float: left; margin-top: 14px; margin-right: 50px; }

.nav { width: 780px; height: 71px; float: left; vertical-align: top; list-style: none; }
.nav li { height: 71px; line-height: 71px; margin-left: 2px; position: relative; display: inline-block; }
.nav li:first-child { margin-left: 0; }
.nav .active { position: relative; background: #4db7fc; }
.nav .active a, .nav .active span { padding: 0 25px; color: #fff; }
.nav .active:after { content: ""; width: 100%; height: 7px; position: absolute; z-index: 100; top: -7px; left: 0; display: inline-block; background: url(../img/icons/nav_border.png) 0px 0px repeat-x; }
.nav a, .nav span { padding: 6px 12px; line-height: 27px; border: 2px solid transparent; text-decoration: none; text-transform: uppercase; color: #5f6b7b; font-family: 'Conv_DlCyLtTf', sans-serif; font-size: 13px; }
.nav a:hover, .nav span:hover { border: 2px solid #4db7fc; }

.sub-nav { width: 300px; height: 41px; line-height: 41px; margin: 0 auto; position: absolute; background: #4db7fc; list-style: none; text-align: center; }
.sub-nav:before { content: ""; width: 10000px; height: 41px; line-height: 41px; background-color: #4db7fc; position: absolute; top: 0px; right: 100%; }
.sub-nav:after { content: ""; width: 10000px; height: 41px; line-height: 41px; background-color: #4db7fc; position: absolute; top: 0px; left: 100%; }
.sub-nav li { padding: 0 15px !important; height: 41px; line-height: 41px; float: left; }
.sub-nav a, .sub-nav span { display: inline-block; height: 23px; line-height: 23px; padding: 0 10px !important; border: 1px solid transparent; color: #fff; text-decoration: none; text-transform: uppercase; }
.sub-nav a:hover, .sub-nav span:hover { border: 1px solid transparent; }
.sub-nav .sub-nav__active { border: 1px solid #a6dbfe; }
.sub-nav .sub-nav__active:hover { border: 1px solid #a6dbfe; }

.h2 { margin-top: 30px; margin-bottom: 30px; position: relative; text-transform: uppercase; line-height: 1; text-align: center; font-family: 'Conv_DlCyLtTf', sans-serif; font-size: 30px; color: #fff; }
.h2:before { content: ""; margin-top: -12px; position: absolute; top: 50%; left: 0; background: url('../img/icons-sf5c8d29a90.png') 0 -402px no-repeat; width: 114px; height: 24px; }
.h2:after { content: ""; margin-top: -12px; position: absolute; top: 50%; right: 0; background: url('../img/icons-sf5c8d29a90.png') 0 -402px no-repeat; width: 114px; height: 24px; }

.h33 { margin: 20px 0; position: relative; display: inline-block; margin-right: 10px; font-family: 'Conv_DlCyLtTf', sans-serif; font-size: 32px; text-transform: uppercase; color: #fff; text-shadow: 0 1px 0 rgba(0, 0, 0, 0.15); }

.slider { width: 959px; height: 463px; margin-bottom: 65px; overflow: hidden; position: relative; }
.slider .slider__bg { width: 959px; height: 463px; background: url(../img/slider.jpg) 0px 0px no-repeat; position: absolute; top: 0; left: 0; }

.slider_collection { width: 960px; min-height: 1152px; height: auto; -webkit-box-shadow: 0 1px 16px rgba(159, 207, 238, 0.75); -moz-box-shadow: 0 1px 16px rgba(159, 207, 238, 0.75); box-shadow: 0 1px 16px rgba(159, 207, 238, 0.75); }
.slider_collection .slider__list { width: 175px; background: #000; }
.slider_collection .slider__list li { padding: 0 0 0 10px; margin-left: 15px; }
.slider_collection .slider__list li:hover { background: #fff; }
.slider_collection .slider__list a, .slider_collection .slider__list span { width: 100%; display: inline-block; color: #FFF; font-size: 13px; }
.slider_collection .slider__list a:hover, .slider_collection .slider__list span:hover { text-shadow: none; color: #4db7fc; }
.slider_collection .slider__list { padding: 25px 0; height: 100%; }
.slider_collection .item__conteiner { margin-right: -33px; padding: 30px 0px 30px 33px; margin-left: 175px; background: #fff; overflow: hidden; }
.slider_collection .item__conteiner h3 { margin-bottom: 25px; }
.slider_collection .slider__item { width: 221px; margin-right: 33px; margin-bottom: 15px; float: left; text-decoration: none; line-height: 1.2; }
.slider_collection .slider__media { width: 221px; height: 202px; overflow: hidden; margin-bottom: 10px; }
.slider_collection .slider__media img { width: 100%; }
.slider_collection .slider__code { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50); opacity: 0.5; color: #323c40; font-family: "Calibri"; font-size: 14px; }

.slider_innerProj { width: auto; min-height: 940px; height: auto; min-height: 230px; margin-top: 20px; box-shadow: none; display: inline-block; overflow: hidden; }
.slider_innerProj .slider__item { width: 112px; color: #4db5f9; font-family: "Calibri"; font-size: 17px; font-weight: bold; }
.slider_innerProj .slider__item:hover { text-decoration: underline; }
.slider_innerProj .slider__media, .slider_innerProj .slider__meta { width: 112px; height: 112px; }
.slider_innerProj .slider__meta { height: auto; font-size: 15px; line-height: 0.8; }

.slider_mod { height: auto; min-height: 960px; margin-bottom: 12px; -webkit-box-shadow: 0 1px 16px rgba(159, 207, 238, 0.75); -moz-box-shadow: 0 1px 16px rgba(159, 207, 238, 0.75); box-shadow: 0 1px 16px rgba(159, 207, 238, 0.75); }
.slider_mod .slider__list { min-height: 100%; }

.slider_proj .slider__list { width: 175px; padding: 10px 0; background: #000; }
.slider_proj .slider__list li { margin-left: 15px; padding: 0 15px 0 0; height: auto; line-height: 1.2; }
.slider_proj .slider__list li:hover { background: #FFF; }
.slider_proj .slider__list li a, .slider_proj .slider__list li span { font-family: 'Conv_DlCyLtTf', sans-serif; text-shadow: none; padding: 16px 0 16px 10px; }
.slider_proj .slider__list li a:hover, .slider_proj .slider__list li span:hover { color: #4db7fc; }
.slider_proj .slider__list a, .slider_proj .slider__list span { display: inline-block; font-size: 14px; color: #FFF; }
.slider_proj .item__conteiner { padding: 25px 0px 45px 0px; background: #FFF; margin-left: 175px; font-family: Calibri,sans-serif; font-size: 14px; color: #323c41; line-height: 1.2; }
.slider_proj .item__conteiner .item__data { padding-left: 20px; padding-right: 50px; }
.slider_proj .item__conteiner .item__data h3 { margin-bottom: 20px; font-family: Calibri,sans-serif; font-size: 32px; color: #4eb6fa; font-weight: bold; }

.slider_innerBuy { min-height: auto; }

.slider__list { width: 211px; min-height: 976px; padding: 6px 0; position: absolute; background: rgba(0, 0, 0, 0.8); overflow: hidden; list-style: none; }
.slider__list li { height: 30px; line-height: 30px; padding: 0 0 0 20px; }
.slider__list li:hover { background: #4db7fc; cursor: pointer; }
.slider__list a, .slider__list span { font-family: 'Conv_DlCyLtTf', sans-serif; font-size: 16px; text-transform: uppercase; color: #FFF; text-decoration: none; text-shadow: 0 1px 0 rgba(0, 0, 0, 0.48); }

.slider__title { position: absolute; bottom: 25px; left: 230px; font-size: 92px; line-height: 1; font-family: 'Conv_DlCyLtTf',sans-serif; font-weight: normal; color: #FFF; }

.news { position: relative; text-align: center; margin-top: 65px; background-color: rgba(7, 46, 72, 0.5); }
.news:after { content: ""; position: absolute; bottom: -33px; left: 0; background: url('../img/icons-sf5c8d29a90.png') 0 -124px no-repeat; width: 960px; height: 33px; }

.news__title { height: 80px; padding: 0 10px; position: relative; top: -40px; text-align: center; overflow: hidden; }
.news__title span { position: relative; height: 40px; line-height: 40px; padding: 0px 13px 0; display: inline-block; background-color: rgba(7, 46, 72, 0.5); text-shadow: 0 1px 0 rgba(0, 0, 0, 0.48); text-transform: uppercase; font-size: 21px; color: #fff; opacity: 1; }
.news__title span:before { content: ""; position: absolute; top: 16px; right: 110%; width: 1000px; height: 4px; background: #4fb7fc; position: absolute; }
.news__title span:after { content: ""; position: absolute; top: 16px; left: 110%; width: 1000px; height: 4px; background: #4fb7fc; position: absolute; }
.news__title span i { width: 100%; position: absolute; top: 17px; padding: 10px 30px; border-top: 1px solid #4db7fc; border-bottom: 1px solid #4db7fc; position: relative; font-family: 'Conv_DlCyLtTf', sans-serif; font-style: normal; }
.news__title span i:before { content: ""; width: 7px; height: 100%; position: absolute; top: 0; left: 0; background: url(../img/icons/news_border.png) 0px 0px repeat-y; }
.news__title span i:after { content: ""; width: 7px; height: 100%; position: absolute; top: 0; right: 0; background: url(../img/icons/news_border.png) 0px 0px repeat-y; }

.news__items { padding: 0 50px; margin-top: -30px; margin-right: -80px; }

.news__item { width: 230px; margin-right: 80px; display: inline-block; vertical-align: top; text-align: center; text-decoration: none; font: 14px Calibri, sans-serif; }
.news__item:hover .news__img { position: relative; border: 5px solid #4db7fc; }
.news__item:hover .news__img:before { content: ""; position: absolute; top: 50px; left: -80px; background: url('../img/icons-sf5c8d29a90.png') 0 -436px no-repeat; width: 60px; height: 9px; }
.news__item:hover .news__img:after { content: ""; position: absolute; top: 50px; right: -80px; background: url('../img/icons-sf5c8d29a90.png') 0 -436px no-repeat; width: 60px; height: 9px; }

.news__img { margin-bottom: 15px; display: inline-block; width: 112px; height: 112px; border-radius: 112px; border: 5px solid transparent; }
.news__img img { text-align: center; width: 112px; height: 112px; border-radius: 56px; }

.news__meta { width: 180px; margin-bottom: 10px; display: inline-block; font-size: 16px; font-weight: bold; color: #FFF; }

.news__descr { margin-bottom: 10px; color: #FFF; vertical-align: top; display: inline-block; }

.some-info { margin-top: 60px; margin-bottom: 50px; text-align: center; font: 14px Calibri,sans-serif; color: #fff; }
.some-info p { margin-bottom: 20px; }

.breadcrumbs { margin: 20px 0 0; list-style: none; }
.breadcrumbs li { padding: 2px 10px; margin-right: 20px; display: inline-block; }
.breadcrumbs a { font-family: Calibri, sans-serif; font-size: 11px; text-decoration: none; color: #FFF; opacity: 0.55; }
.breadcrumbs a:hover { border-bottom: 1px solid #b3b2b6; }
.breadcrumbs .active { position: relative; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50); opacity: 0.5; background-color: rgba(0, 0, 0, 0.78); }
.breadcrumbs .active:after { content: ""; width: 0px; height: 0px; border-style: solid; border-width: 10px 0 10px 7px; border-color: transparent transparent transparent rgba(0, 0, 0, 0.78); position: absolute; top: 0; right: -7px; }

.waves { width: 100%; min-height: 155px; position: relative; background: #ecf7ff; }
.waves:before { content: ""; width: 100%; height: 45px; background: url(../img/icons/waves_bg.png) 0px 0px repeat-x; position: absolute; top: -45px; left: 0; z-index: -1; }

.waves_text { padding-top: 40px; padding-bottom: 50px; }

.waves__cont { width: 960px; margin: 0 auto; text-align: center; }
.waves__cont p { font-family: Calibri,sans-serif; font-size: 14px; color: #4d6779; margin-bottom: 25px; }

.kat { margin-bottom: 15px; background: #fff; overflow: hidden; -webkit-box-shadow: 0 1px 16px rgba(159, 207, 238, 0.75); -moz-box-shadow: 0 1px 16px rgba(159, 207, 238, 0.75); box-shadow: 0 1px 16px rgba(159, 207, 238, 0.75); }

.kat__nav { width: 160px; padding: 25px 0 25px 15px; margin-right: 30px; float: left; background: #000; list-style: none; }
.kat__nav li { background: #000; }
.kat__nav li:hover { background: #FFF; }
.kat__nav a { padding: 5px 0 5px 10px; display: block; line-height: 25px; font-family: 'Conv_DlCyLtTf', sans-serif; font-size: 14px; text-transform: uppercase; text-decoration: none; color: #FFF; }
.kat__nav a:hover { color: #4db7fc; }

.kat__conteiner { width: 755px; padding: 35px 0; float: left; }

.kat__media { width: 365px; margin-right: 30px; float: left; position: relative; }
.kat__media:before { content: ""; position: absolute; top: 140px; left: 130px; opacity: 0; background: url('../img/icons-sf5c8d29a90.png') 0 -209px no-repeat; width: 103px; height: 100px; -webkit-transition: opacity 0.3s; -moz-transition: opacity 0.3s; -o-transition: opacity 0.3s; transition: opacity 0.3s; }
.kat__media:hover { cursor: pointer; }
.kat__media:hover:before { -webkit-transition: opacity 0.3s; -moz-transition: opacity 0.3s; -o-transition: opacity 0.3s; transition: opacity 0.3s; opacity: 1; }

.kat__descr { width: 340px; float: left; }

.kat__title { margin-bottom: 25px; font-family: Calibri,sans-serif; font-size: 25px; line-height: 1; color: #4eb6fa; }

.kat__kode { margin-bottom: 5px; text-transform: uppercase; color: #323c41; opacity: 0.5; }

.kat__group { height: 25px; line-height: 25px; padding: 0 10px; display: inline-block; background: #4fb8fc; text-decoration: none; font-size: 11px; color: #FFF; -webkit-transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; }
.kat__group span { margin-left: 10px; text-transform: uppercase; }
.kat__group:hover { -webkit-transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; background: #48a5e1; }

.kat__info { margin-top: 25px; font-family: Calibri,sans-serif; font-size: 14px; line-height: 1.2; color: rgba(50, 60, 65, 0.77); }

.kat__doc, .kat__charac { float: left; list-style: none; }
.kat__doc li, .kat__charac li { line-height: 28px; border-top: 1px solid #e5e5e5; }
.kat__doc li:first-child, .kat__charac li:first-child { color: rgba(50, 60, 65, 0.5); border-top: none; }
.kat__doc li strong, .kat__charac li strong { margin-left: 25px; }

.kat__charac { margin-right: 25px; }

.kat__somePadding { padding-top: 20px; line-height: 1; }

.kat__doc li { border-top: none; }
.kat__doc li:first-child { border-bottom: 1px solid #e5e5e5; }

.doc { margin-top: 25px; margin-bottom: 20px; }
.doc a { display: inline-block; text-decoration: none; color: rgba(50, 60, 65, 0.5); }
.doc img { margin-right: 10px; vertical-align: middle; }

.scheme a { font-size: 14px; font-family: Calibri,sans-serif; color: #1795e6; text-decoration: none; }

.js-masonry { padding-bottom: 14px; }

.photogallery__nav { list-style: none; margin-bottom: 10px; }
.photogallery__nav li { height: 80px; padding: 0 65px; line-height: 80px; float: left; }
.photogallery__nav .active { position: relative; background: #4db7fc; text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.2); }
.photogallery__nav .active:after { content: ""; position: absolute; bottom: -8px; left: 48%; width: 0px; height: 0px; border-style: solid; border-width: 8px 8.5px 0 8.5px; border-color: #4db7fc transparent transparent transparent; }
.photogallery__nav .active a { font-family: 'Conv_DlCyRgTf', sans-serif; color: #fff; }
.photogallery__nav a { font-size: 22px; font-family: 'Conv_DlCyRgTf', sans-serif; color: #1895e6; text-transform: uppercase; text-decoration: none; }

.photogallery__item { margin: 14px 0px 0 14px; position: relative; float: left; }
.photogallery__item i { width: 100%; height: 100%; position: absolute; top: 0; left: 0; z-index: 1000; }
.photogallery__item i:hover { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80); opacity: 0.8; background-color: #4db7fb; cursor: pointer; }

.photogallery__img img { vertical-align: top; }
.photogallery__img:hover { cursor: pointer; }

.photogallery__title { padding: 10px 20px; background: #000; position: absolute; bottom: 0; left: 0; right: 0; }
.photogallery__title h2 { text-transform: uppercase; font-family: 'Conv_DlCyLtTf', sans-serif; color: #FFF; }
.photogallery__title .big { font-family: 'Conv_DlCyLtTf', sans-serif; font-weight: normal; font-size: 26px; }

.product { margin-right: -50px; padding: 20px 25px 25px; }

.product__wrap { padding: 20px; }
.product__wrap .product__meta { width: 190px; height: 38px; text-align: center; overflow: hidden; }

.active { color: #FFF; }
.active .product__wrap { overflow: hidden; background-color: rgba(77, 183, 252, 0.99); -webkit-box-shadow: 0 1px 16px rgba(77, 184, 240, 0.63); -moz-box-shadow: 0 1px 16px rgba(77, 184, 240, 0.63); box-shadow: 0 1px 16px rgba(77, 184, 240, 0.63); }
.active .product__media { -webkit-box-shadow: inset 0 1px 16px rgba(77, 184, 240, 0.63); -moz-box-shadow: inset 0 1px 16px rgba(77, 184, 240, 0.63); box-shadow: inset 0 1px 16px rgba(77, 184, 240, 0.63); }
.active .product__item { color: #FFF; }
.active .product__meta { color: #FFF; }
.active .product__meta:hover { text-decoration: none; }
.active a { text-decoration: none; color: #FFF; }
.active .product__list { display: block; padding-top: 20px; margin-top: -20px; margin-left: 208px; height: 258px; overflow: hidden; background-color: rgba(77, 183, 252, 0.99); -webkit-box-shadow: 3px 0px 16px rgba(77, 184, 240, 0.63); -moz-box-shadow: 3px 0px 16px rgba(77, 184, 240, 0.63); box-shadow: 3px 0px 16px rgba(77, 184, 240, 0.63); }
.active .product__list li { padding: 0 12px; height: 27px; line-height: 27px; }
.active .product__list li:hover { background: #112837; }
.active .product__list a { font-family: Calibri,sans-serif; font-size: 13px; }

.product__cnt { float: left; text-decoration: none; text-transform: uppercase; font-family: Calibri,sans-serif; font-size: 16px; line-height: 1.2; color: #1795e6; }

a.product__cnt:hover { text-decoration: underline; }

.product__item { height: 278px; float: left; vertical-align: top; }
.product__item:hover { cursor: pointer; }

.product__item_active { color: #FFF; }

.product__media { width: 160px; height: 160px; line-height: 160px; padding: 15px; border-radius: 50%; margin-bottom: 10px; background: #fff; overflow: hidden; text-align: center; }
.product__media img { max-width: 160px; height: 160px; border-radius: 50%; }

.product__list { min-width: 245px; padding-right: 25px; display: none; position: absolute; z-index: 1000; float: left; list-style: none; }

.label { display: inline-block; position: relative; width: 44px; height: 44px; border-radius: 50%; background: #4db7fc; }
.label:after, .label:before { content: ""; position: absolute; }
.label:after { top: 9px; left: 15px; width: 6px; height: 6px; border: 4px solid #fff; border-radius: 50%; }
.label:before { top: 20px; left: 16px; width: 0px; height: 0px; border-style: solid; border-width: 16px 6.5px 0 6.5px; border-color: #fff transparent transparent transparent; }

.sity { width: 297px; height: 100px; padding: 20px; display: inline-block; overflow: hidden; border: 4px solid transparent; }
.sity:hover { border: 4px solid #4db7fc; }
.sity .label { float: left; }
.sity .sity__cont { float: left; margin-left: 12px; font-family: Calibri,sans-serif; line-height: 1.4; }
.sity .sity__town { font-family: Calibri,sans-serif; font-size: 17px; color: #4eb6fa; font-weight: bold; }
.sity .sity__addr { font-size: 14px; color: #323c41; }
.sity .sity__mail { font-size: 14px; color: #1795e6; text-decoration: underline; }
.sity .sity__tel { margin-top: 5px; font-size: 24px; color: #40494e; }

.scrollable { margin-top: 45px; }

.scrollable__cnt { position: relative; }

.scrollable__media { width: 784px; overflow: hidden; }
.scrollable__media img { width: 100%; vertical-align: bottom; }

.scrollable__next, .scrollable__prew { width: 42px; height: 42px; background: #4db7fc; position: absolute; top: 160px; }

.scrollable__next { left: 0; }
.scrollable__next:after { content: ""; display: inline-block; position: absolute; top: 6px; right: 15px; background: url('../img/icons-sf5c8d29a90.png') 0 -562px no-repeat; width: 12px; height: 30px; }

.scrollable__prew { right: 0; }
.scrollable__prew:after { content: ""; display: inline-block; position: absolute; top: 6px; left: 15px; background: url('../img/icons-sf5c8d29a90.png') 0 -602px no-repeat; width: 12px; height: 30px; }

.scrollable__list { margin-right: -2px; overflow: hidden; list-style: none; }
.scrollable__list li { width: 131px; height: 95px; overflow: hidden; position: relative; float: left; }
.scrollable__list li:last-child i { width: 115px; height: 81px; border: 7px solid transparent; }
.scrollable__list li:last-child i:hover { border: 7px solid #4db7fc; }
.scrollable__list a { display: inline-block; }
.scrollable__list img { width: 100%; min-height: 100%; }
.scrollable__list i { width: 117px; height: 81px; position: absolute; top: 0; left: 0; }
.scrollable__list i:hover { border: 7px solid #4db7fc; }

.used { padding: 25px 30px; }

.used__title { padding-bottom: 10px; border-bottom: 1px solid #e5e5e5; font-size: 14px; color: #323c41; }

.proj { padding-bottom: 40px; overflow: hidden; background: #fff; -webkit-box-shadow: 3px 0px 16px rgba(77, 184, 240, 0.63); -moz-box-shadow: 3px 0px 16px rgba(77, 184, 240, 0.63); box-shadow: 3px 0px 16px rgba(77, 184, 240, 0.63); margin-bottom: 20px; }

.proj__cont { position: relative; }

.proj__text { padding: 40px 45px 55px; color: #323c41; font-size: 14px; line-height: 1.2; }

.proj__item { width: 240px; height: 440px; float: left; position: relative; vertical-align: top; background: #FFF; color: #000; text-decoration: none; }
.proj__item:hover { background: #4db7fc; cursor: pointer; color: #fff; }
.proj__item:hover h3 { color: #fff; }
.proj__item:hover .proj__border { display: block; }

.proj__item_ImgBottom .proj__img { position: absolute; bottom: 0px; }

.proj__img { height: 218px; }
.proj__img img { height: 100%; }

.proj__descr { padding: 30px 25px; }
.proj__descr h3 { width: 140px; margin-bottom: 10px; color: #4db7fc; font-size: 18px; line-height: 1; font-family: Calibri,sans-serif; }

.proj__border { display: none; z-index: 1000; position: absolute; top: 0; left: -13px; width: 240px; height: 414px; border: 13px solid #4db7fc; }

.triangle { position: relative; width: 0px; height: 0px; border-style: solid; border-width: 0 18.5px 15px 18.5px; border-color: transparent transparent #007bff transparent; }
.triangle:after { content: ""; position: absolute; top: 1px; left: -18px; width: 0px; height: 0px; border-style: solid; border-width: 0 18.5px 15px 18.5px; border-color: transparent transparent #fff transparent; }

.proj__item .triangle { position: absolute; top: 260px; right: 15px; }
.proj__item:hover .triangle { border-color: transparent transparent #fff transparent; }
.proj__item:hover .triangle:after { border-color: transparent transparent #4db7fc transparent; }

.proj__item_ImgBottom .triangle { position: absolute; top: 180px; left: 25px; width: 0px; height: 0px; border-style: solid; border-width: 15px 18.5px 0 18.5px; border-color: #007bff transparent transparent transparent; }
.proj__item_ImgBottom .triangle:after { content: ""; position: absolute; top: -16px; left: -18px; width: 0px; height: 0px; border-style: solid; border-width: 15px 18.5px 0 18.5px; border-color: #fff transparent transparent transparent; }
.proj__item_ImgBottom:hover .triangle { border-color: #fff transparent transparent transparent; }
.proj__item_ImgBottom:hover .triangle:after { border-color: #4db7fc transparent transparent transparent; }

.download { min-height: 945px; margin-bottom: 12px; -webkit-box-shadow: 0 0 16px rgba(0, 0, 0, 0.2); -moz-box-shadow: 0 0 16px rgba(0, 0, 0, 0.2); box-shadow: 0 0 16px rgba(0, 0, 0, 0.2); padding: 30px 25px 30px 30px; background: #FFF; overflow: hidden; }

.download__left { width: 600px; padding-right: 50px; float: left; }
.download__left span { display: inline-block; margin-bottom: 50px; }

.download__right { width: 250px; float: left; }

.download__item { list-style: none; }
.download__item li { position: relative; background: #FFF; padding: 20px 0 15px; border-bottom: 1px solid #e4eff6; }
.download__item li:hover { cursor: pointer; background: #4db7fc; }
.download__item li:hover .download__ico { background: url('../img/icons-sf5c8d29a90.png') 0 -719px no-repeat; width: 29px; height: 23px; }
.download__item li:hover .download__eye { background: url('../img/icons-sf5c8d29a90.png') 0 -664px no-repeat; width: 18px; height: 12px; }
.download__item li:hover .download__title { color: #FFF; }
.download__item li:hover .download__wt { color: #FFF; opacity: 0.4; }
.download__item a { text-decoration: none; }
.download__item .download__ico { display: inline-block; margin-left: 25px; margin-top: 0px; background: url('../img/icons-sf5c8d29a90.png') 0 -686px no-repeat; width: 29px; height: 23px; vertical-align: top; }
.download__item .download__note { width: 520px; padding-left: 20px; display: inline-block; line-height: 1.2; }
.download__item .download__title { font-weight: bold; color: #4eb6fa; font-size: 17px; font-family: Calibri,sans-serif; }
.download__item .download__wt { font-family: Calibri,sans-serif; font-size: 14px; color: #323c41; }
.download__item .download__eye { position: absolute; right: 25px; top: 25px; background: url('../img/icons-sf5c8d29a90.png') 0 -642px no-repeat; width: 18px; height: 12px; vertical-align: top; }

.login { padding: 20px 12px 5px; background: #4db7fc; }
.login .login__top { width: 100%; height: 60px; background: url(../img/icons/down_border.png) 0px 40px repeat-x; }
.login .login__top .h4 { text-align: center; color: #FFF; text-transform: uppercase; font-family: Calibri,sans-serif; font-size: 27px; }
.login .row { padding: 0 11px; overflow: hidden; margin-bottom: 15px; color: #FFF; }
.login label { display: block; }
.login label p { display: inline-block; margin-bottom: 5px; }
.login input { width: 192px; padding: 0 5px; height: 22px; background: #4db7fc; color: #FFF; border: 1px solid #fff; display: block; }
.login button { height: 32px; padding: 0 30px; color: #4db7fc; text-transform: uppercase; font-family: 'Conv_DlCyLtTf'; font-size: 13px; }
.login button:hover { cursor: pointer; }
.login .login__note { float: right; font-family: Calibri, sans-serif; font-size: 12px; line-height: 32px; }

.wrap-collection { overflow: hidden; }

.collection { width: 180px; overflow: hidden; float: left; list-style: none; }
.collection li { margin-bottom: 25px; }
.collection li:first-child p { color: #4eb6fa; font-size: 18px; font-family: Calibri,sans-serif; font-weight: bold; }
.collection li a, .collection li p { text-transform: uppercase; font-family: 'Conv_DlCyLtTf'; font-size: 14px; color: #40494e; text-decoration: none; }
.collection li a:hover, .collection li p:hover { cursor: pointer; text-decoration: underline; }

.lteie8 .search input { line-height: 31px; }
.lteie8 .slider__list { background: #2f2f2f; }
.lteie8 .news { overflow: hidden; }
.lteie8 .news:after { content: none; }
.lteie8 .news__title { top: 10px; }
.lteie8 .news__title span { background: #647b88; }
.lteie8 .news__items { text-align: left; overflow: hidden; padding-left: 70px; padding-top: 40px; background: #647b88; }
.lteie8 .news__item { margin-right: 60px; }
.lteie8 .footer { color: #c2c2c2; }
.lteie8 .footer__left .left a, .lteie8 .right a, .lteie8 .footer__right .left a, .lteie8 .footer__right dl a, .lteie8 .footer__right dl dt { color: #c2c2c2; }
.lteie8 .footer__left .h3, .lteie8 .h4 { color: #c2c2c2; }
.lteie8 .breadcrumbs .active:after { content: none; }
.lteie8 .active .product__wrap { background: #4db7fc; }
.lteie8 .active .product__list { background: #4db7fc; }

.button { padding: 9px 14px; font-size: 12px; line-height: normal; border-radius: 5px; display: inline-block; }

.button_large { font-size: 30px; }

.greenbutton { padding: 9px 14px; font-size: 12px; line-height: normal; border-radius: 5px; background: green; color: #fff; text-shadow: 0 -1px 0 #000; display: inline-block; }
.greenbutton i { width: 10px; height: 10px; background: pink; display: inline-block; margin-right: 10px; }

.greenbutton_large { font-size: 30px; }
