// indeperents blocks
.btNone{
	border-top: none !important;
}
.not-active{
	display: none;
}
.i_waves{
	@include s(i_waves);
	position: absolute;
	top: 13px;
	right: -80px;
}
.i_scheme{
	@include s(i_scheme);
	margin-right: 10px;
	display: inline-block;
	vertical-align: middle;
}
.lang{
	a, span{
		display: inline-block;
		padding: 3px 7px;
		text-decoration: none;
		font-family: Calibri, sans-serif;
		color: #4db7fc;
		&:hover{
			text-decoration: underline;
		}
	}
	.active{
		background: #4db7fc;
		color: #fff;
	}
}
.search{
	position: relative;
	input{
		border: 1px solid #e3e6e8;
		padding: 0 10px;
		height: 29px;
		font: 14px Calibri,sans-serif;
		&:focus{
			outline: 1px solid #4db7fc;
		}
	}
	button{
		content:"";
		position: absolute;
		top: 17px;
		right: 10px;
		@include s(search);
		border: none;
		cursor: pointer;
	}
	span{
		display: none;
		line-height: 1;
	}
}
.logo{
	@include s(logo);
	float: left;
	margin-top: 14px;
	margin-right: 30px;
}
.navMobile{
	display: none;
	@include s(menu__mobile);
	position: absolute;
	top: 26px;
	right: 10px;
	cursor: pointer;
}
.nav{
	// width: 780px;
	// height: 71px;
	// overflow: hidden;
	float: left;
	vertical-align: top;
	list-style: none;
	li{
		height: 71px;
		line-height: 71px;
		margin-left: 2px;
		position: relative;
		display: inline-block;
		&:first-child{
			margin-left: 0;
		}
	}
	.active{
		// height: 112px;
		position: relative;
		background: #4db7fc;
		a, span{
			padding: 0 25px;
			color: #fff;
		}
		&:after{
			content:"";
			width: 100%;
			height: 7px;
			position: absolute;
			z-index: 100;
			top: -7px;
			left: 0;
			display: inline-block;
			background: url(../img/icons/nav_border.png) 0px 0px repeat-x;
		}
	}
	a, span{
		// padding: 6px 12px;
		padding: 6px 8px;
		line-height: 27px;
		border: 2px solid transparent;
		text-decoration: none;
		text-transform: uppercase;
		color: #5f6b7b;
		font-family: 'Conv_DlCyLtTf', sans-serif;
		font-size: 13px;
		&:hover{
			border: 2px solid #4db7fc;
		}
	}
}

.sub-nav{
	@extend %clr;
	width: 700px;
	height: 41px;
	line-height: 41px;
	margin: 0 auto;
	position: absolute;
	z-index: 2000;
	background: #4db7fc;
	list-style: none;
	text-align: center;
	&:before{
		content:"";
		width: 10000px;
		height: 41px;
		line-height: 41px;
		background-color: #4db7fc;
		position: absolute;
		top: 0px;
		right: 100%;
	}
	&:after{
		content:"";
		width: 10000px;
		height: 41px;
		line-height: 41px;
		background-color: #4db7fc;
		position: absolute;
		top: 0px;
		left: 100%;
	}
	li{
		padding: 0 15px 0 0 !important;
		height: 41px;
		line-height: 41px;
		float: left;
	}
	a, span{
		display: inline-block;
		height: 23px;
		line-height: 23px;
		padding: 0 10px !important;
		border: 1px solid transparent;
		color: #fff;
		text-decoration: none;
		text-transform: uppercase;
		&:hover{
			border: 1px solid transparent;
		}
	}
	.sub-nav__active{
		border: 1px solid #a6dbfe;
		&:hover{
			border: 1px solid #a6dbfe;
		}
	}
}
.is-thereIsDropNaw{
	height: 112px;
}
.sub-nav_right{
	width: 800px;
	right: 0;
	li{
		float: right;
		padding: 0 0 0 15px !important;
	}
}
.h1{
	margin-top: 30px;
	margin-bottom: 30px;
	text-transform: uppercase;
	line-height: 1;
	text-align: center;
	font-family: 'Conv_DlCyLtTf', sans-serif;
	font-weight: normal;
	font-size: 30px;
	color: #fff;
	span{
		// margin-left: 10px;
		// margin-right: 10px;
		&:before{
			content:"";
			@include s(h2_before);
			margin-right: 10px;
			display: inline-block;
		}
		&:after{
			content:"";
			@include s(h2_before);
			margin-left: 10px;
			display: inline-block;
		}
	}
}
.h33{
	margin: 20px 0;
	position: relative;
	display: inline-block;
	margin-right: 10px;
	font-family: 'Conv_DlCyLtTf', sans-serif;
	font-weight: normal;
	font-size: 32px;
	text-transform: uppercase;
	color: #fff;
	@include text-shadow(0 1px 0 rgba(0,0,0,.15));
}
.slider{
	@extend %clr;
	width: 959px;
	height: 460px;
	margin-bottom: 65px;
	overflow: hidden;
	position: relative;
	.slider__bg{
		width: 959px;
		height: auto;
		// height: 460px;
		// background: url(../img/slider.jpg) 0px 0px no-repeat;
		position: absolute;
		top: 0;
		left: 0;
		& > div {
			position: relative;
			width: 100%;
			height: 100%;
			// height: 460px;
			overflow: hidden;
		}
		img{
			// width: 100%;
			// min-height: 460px;
			@include transition(all .2s ease-in-out);
			&:hover{
				opacity: 0.5;
				@include transition(all .2s ease-in-out);
			}
		}

	}
	.slider__col{
		overflow: hidden;
	}
}
.slider_collection{
	width: 960px;
	height: auto;
	@include box-shadow(0 1px 16px rgba(159,207,238,.75));
	.slider__list{
		padding: 25px 0;
		height: 100%;
		z-index: 200;
		width: 175px;
		background: #000;
		li{
			// padding: 0 0 0 10px;
			margin-left: 15px;
			padding-left: 15px;
			&:hover{
				background: #fff;
				a,span{
					text-shadow: none;
					color: #4db7fc;
				}
			}
		}
		a,span{
			width: 100%;
			display: inline-block;
			color: #FFF;
			font-size: 13px;
		}
	}
	.item__conteiner{
		// margin-right: -33px;
		// padding: 30px 0px 30px 33px;
		background: #fff;
		margin-left: -175px;
		float: right;
		width: 785px;
		border-left: 175px solid #000;
		
		font-size: 0;
		margin-right: 0;
		padding: 30px 0;
		h3{
			margin-bottom: 25px;
		}
	}
	.slider__item{
		// width: 221px;
		// margin-right: 33px;
		// margin-right: 38px;
		width: 22%;
		margin: 0 1% 25px;
		text-decoration: none;
		line-height: 1.2;
		display: inline-block;
		vertical-align: top;
		&:nth-child(4n+1){
			margin: 0 1% 0 3%;
		}
		&:nth-child(4n){
			margin: 0 3% 0 1%;
		}
		&:hover{
			opacity: 0.8;
		}
	}
	.slider__media{
		// width: 221px;
		// height: 202px;
		width: auto;
		height: auto;
		overflow: hidden;
		margin-bottom: 10px;

	}
	.slider__meta{
		font-family: Calibri,sans-sefif;
		font-size: 17px;
		color: #4eb6fa;
		font-weight: bold;
	}
	.slider__code{
	@include opacity(.5);
	color: #323c40;
	font-family: "Calibri";
	font-size: 14px;
	}
}
.slider_collectionMod{
	.slider__list{
		position: relative;
		z-index: 200;
		a,span{
			// height: 31px;
			// line-height: 31px;
			padding: 6px 0 6px 0px;
		}
	}
	.slider__media{
		img{
			width: 100%;
		}
	}
	.photogallery__nav{
		display: none;
	}
}
.slider_innerProj{
	width: auto;
	min-height: 940px;
	height: auto;
	min-height: 230px;
	margin-top: 20px;
	box-shadow: none;
	display: inline-block;
	overflow: hidden;
	margin-right: -38px;
	.slider__item{
		width: 112px;
		color: #4db5f9;
		font-family: "Calibri";
		font-size: 17px;
		font-weight: bold;
		&:hover{
			text-decoration: underline;
		}
	}
	.slider__media, .slider__meta {
		// width: 112px;
		height: 112px;
	}
	.slider__meta{
		height: auto;
		font-size: 15px;
		line-height: 1;
	}
}
.slider_mod{
	height: auto;
	// min-height: 960px;
	margin-bottom: 12px;
	@include box-shadow(0 1px 16px rgba(159,207,238,.75));
	.slider__list{
		min-height: 100%;
	}
}
.slider_proj{
	@extend %clr;
	.scrollable__media {
		img{
			width: auto;
		}
		&:hover{
			opacity: 0.8;
		}
	}
	.slider__list{
		width: 175px;
		padding: 10px 0;
		background: #000;
		li{
			margin-left: 15px;
			padding: 0 15px 0 0;
			height: auto;
			line-height: 1.2;
			&:hover{
				background: #FFF;
			}
			a,span{
				font-family: 'Conv_DlCyLtTf', sans-serif;
				text-shadow: none;
				padding: 16px 0 16px 10px;
				&:hover{
					color: #4db7fc;
				}
			}
		}
		a,span{
			display: inline-block;
			font-size: 14px;
			color: #FFF;
		}
	}
	.item__conteiner{
		padding: 25px 0px 45px 0px;
		background: #FFF;
		margin-left: 175px;
		font-family: Calibri,sans-serif;
		font-size: 14px;
		color: #323c41;
		line-height: 1.2;

		margin-left: -175px;
		border-left: 175px solid #000;
		margin-left: -175px;
		float: right;
		width: 784px;
		.item__data{
			padding-left: 20px;
			padding-right: 50px;
			h1{
				margin-bottom: 20px;
				font-family: Calibri,sans-serif;
				font-size: 32px;
				color: #4eb6fa;
				font-weight: bold;
			}
		}
	}
}
.slider_innerBuy{
	// min-height: 965px;
	width: 960px;
	min-height: 100%;
	height: auto;
	overflow: hidden;
	background: #fff;
	.item__conteiner{
		width: 94%;
		padding: 3%;
		font-size: 0;
		border-left: none;
		margin-left: 0;
		float: none;
		margin: 0 auto;
	}
}
	.slider__list{
		width: 211px;
		position: relative;
		// min-height: 976px;
		// padding: 6px 0;
		// position: absolute;
		// top: 0;
		// bottom: 0;
		background: #000;
		float: left;
		background: rgba(0,0,0, 0.8);
		overflow: hidden;
		list-style: none;
		z-index: 200;
		a,span{
			display: block;
			// padding: 7px 0px 7px 0px;
			// height: 30px;
			// line-height: 30px;
		}
		.is-active{
			background: #fff;
			span,div{
				color: #4db7fc;
			}
			&:hover{
				cursor: auto;
			}
		}
		li{
			// height: 30px;
			// line-height: 30px;
			&:hover{
				background: #4db7fc;
				cursor: pointer;
			}
		}
		a,span{
			font-family: 'Conv_DlCyLtTf', sans-serif;
			font-size: 16px;
			text-transform: uppercase;
			color: #FFF;
			text-decoration: none;
			// @include text-shadow(0 1px 0 rgba(0,0,0,.48));
		}
	}
	.slider__title{
		position: absolute;
		bottom: 50px;
		left: 230px;
		font-size: 92px;
		line-height: 1;
		font-family: 'Conv_DlCyLtTf',sans-serif;
		font-weight: normal;
		color: #FFF;
		z-index: 9999;
		// @include text-shadow(0 1px 0 rgba(0,0,0,.08));
	}
.news{
	position: relative;
	text-align: center;
	margin-top: 65px;
	background-color: rgba(7,46,72,.5);
	&:after{
		content: "";
		position: absolute;
		bottom: -33px;
		left: 0;
		@include s(news_btm);
	}
}
	.news__title{
		height: 80px;
		padding: 0 10px;
		position: relative;
		top: -40px;
		text-align: center;
		overflow: hidden;
		span{
			position: relative;
			height: 40px;
			line-height: 40px;
			padding: 0px 13px 0;
			display: inline-block;
			background-color: rgba(7,46,72, .5);
			@include text-shadow(0 1px 0 rgba(0,0,0,.48));
			text-transform: uppercase;
			font-size: 21px;
			color: #fff;
			opacity: 1;
			&:before{
				content: "";
				position: absolute;
				top: 16px;
				right: 110%;
				width: 1000px;
				height: 4px;
				background: #4fb7fc;
				position: absolute;
			}
			&:after{
				content: "";
				position: absolute;
				top: 16px;
				left: 110%;
				width: 1000px;
				height: 4px;
				background: #4fb7fc;
				position: absolute;
			}
			i{
				width: 100%;
				position: absolute;
				top: 17px;
				padding: 10px 30px;
				border-top: 1px solid #4db7fc;
				border-bottom: 1px solid #4db7fc;
				position: relative;
				font-family: 'Conv_DlCyLtTf', sans-serif;
				font-style: normal;
				&:before{
					content: "";
					width: 7px;
					height: 100%;
					position: absolute;
					top: 0;
					left: 0;
					background: url(../img/icons/news_border.png) 0px 0px repeat-y;
				}
				&:after{
					content: "";
					width: 7px;
					height: 100%;
					position: absolute;
					top: 0;
					right: 0;
					background: url(../img/icons/news_border.png) 0px 0px repeat-y;
				}
			}
		}
	}
	.news__items{
		padding: 0 50px;
		margin-top: -30px;
		// margin-right: -80px;
		

		// .active{
		// 	position: relative;
		// 	border: 5px solid #4db7fc;
		// 	&:before{
		// 		content: "";
		// 		position: absolute;
		// 		top: 50px;
		// 		left: -80px;
		// 		@include s(active_border);
		// 	}
		// 	&:after{
		// 		content: "";
		// 		position: absolute;
		// 		top: 50px;
		// 		right: -80px;
		// 		@include s(active_border);
		// 	}
		// }
	}
	.news__item{
		width: 230px;
		margin-left: 80px;
		display: inline-block;
		vertical-align: top;
		text-align: center;
		text-decoration: none;
		font: 14px Calibri, sans-serif;
		&:first-child{
			margin-left: 0;
		}
		&:hover{
			.news__img{
				position: relative;
				border: 5px solid #4db7fc;
				&:before{
					content: "";
					position: absolute;
					top: 50px;
					left: -80px;
					@include s(active_border);
				}
				&:after{
					content: "";
					position: absolute;
					top: 50px;
					right: -80px;
					@include s(active_border);
				}
			}
		}
	}
		.news__img{
			margin-bottom: 15px;
			display: inline-block;
			width: 112px;
			height: 112px;
			border-radius: 112px;
			border: 5px solid transparent;

			img{
				text-align: center;
				width: 112px;
				height: 112px;
				border-radius: 56px;
			}
		}
		.news__meta{
			width: 180px;
			margin-bottom: 10px;
			display: inline-block;
			font-size: 16px;
			font-weight: bold;
			color: #FFF;
		}
		.news__descr{
			margin-bottom: 10px;
			color: #FFF;
			vertical-align: top;
			display: inline-block;
		}
.some-info{
	margin-top: 60px;
	margin-bottom: 50px;
	text-align: center;
	font: 14px Calibri,sans-serif;
	color: #000;
	p{
		margin-bottom: 20px;
	}
}
.breadcrumbs{
	margin: 20px 0 0;
	list-style: none;
	li{
		padding: 2px 10px;
		margin-right: 20px;
		display: inline-block;
	}
	a{
		font-family: Calibri, sans-serif;
		font-size: 11px;
		text-decoration: none;
		color: #FFF;
		opacity: 0.55;
		&:hover{
			border-bottom: 1px solid #b3b2b6;
		}
	}
	.active{
		position: relative;
		@include opacity(.5);
		background-color: rgba(0,0,0,.78);
		&:after{
			content:"";
			width: 0px;
			height: 0px;
			border-style: solid;
			border-width: 10px 0 10px 7px;
			border-color: transparent transparent transparent rgba(0,0,0,.78);
			position: absolute;
			top: 0;
			right: -7px;
		}
	}
}
.waves{
	width: 100%;
	min-height: 155px;
	position: relative;
	background: #ecf7ff;
	&:before{
		content:"";
		width: 100%;
		height: 45px;
		background: url(../img/icons/waves_bg.png) 0px 0px repeat-x;
		position: absolute;
		top: -45px;
		left: 0;
		z-index: -1;
	}
}
.waves_text{
	padding-top: 40px;
	padding-bottom: 50px;
}
	.waves__cont{
		// width: 960px;
		width: 940px;
		margin: 0 auto;
		text-align: center;
		p{
			font-family: Calibri,sans-serif;
			font-size: 14px;
			color: #4d6779;
			margin-bottom: 25px;
		}
	}
.kat{
	position: relative;
	margin-bottom: 15px;
	background: #fff;
	overflow: hidden;
	@include box-shadow(0 1px 16px rgba(159,207,238,.75));
	@extend %clr;
}
.kat_cat-section{
	overflow: visible;
}
	.kat__nav{
		width: 160px;
		padding: 25px 0 25px 15px;
		// margin-right: 30px;
		background: #000;
		list-style: none;
		position: relative;
		z-index: 200;
		// position: absolute;
		// top: 0;
		// bottom: 0;
		// left: 0;
		float: left;
		.active{
			background: #FFF;
			a{
				color: #4db7fc;
				cursor: default;
			}
		}
		a{
			padding: 5px 0 5px 10px;
			background: #000;
			display: block;
			font-family: 'Conv_DlCyLtTf', sans-serif;
			font-size: 14px;
			text-transform: uppercase;
			text-decoration: none;
			color: #FFF;
			&:hover{
				background: #FFF;
				color: #4db7fc;
			}
		}
	}
	.kat__conteiner{
		// width: 785px;
		width: auto;
		padding: 35px 0;
		// overflow: hidden;
		border-left: 175px solid #000;
		// margin-left: -175px;
		// float: right;
		background: #fff;
		font-size: 0;
	}
	.kat__media{
		width: 365px;
		margin-left: 30px;
		display: inline-block;
		position: relative;
		// &:before{
		// 	content: "";
		// 	position: absolute;
		// 	top: 50%;
		// 	margin-top: -51px;
		// 	left: 130px;
		// 	opacity: 0;
		// 	@include s(glass);
		// 	@include transition(opacity .3s);
		// }
		&:hover{
			cursor: pointer;
			.lupa{
				@include transition(opacity .3s);
				opacity: 1;
			}
			// &:before{
			// 	@include transition(opacity .3s);
			// 	opacity: 1;
			// }
		}
		.lupa{
			position: absolute;
			top: 50%;
			margin-top: -50px;
			left: 50%;
			margin-left: -51px;
			opacity: 0;
			@include s(glass);
			@include transition(opacity .3s);
			z-index: 10;
		}
		a{
			display: block;
			position: relative;
			z-index: 100;
		}

	}
	.kat__descr{
		// width: 340px;
		// float: left;
		// padding-right: 30px;
		width: 43%;
		display: inline-block;
		padding-right: 0;
		vertical-align: top;
		.kat__title-wrap{
			margin-left: 30px;
		}
	}
	.kat__title{
		margin-bottom: 25px;
		font-family: Calibri,sans-serif;
		font-size: 25px;
		line-height: 1;
		color: #4eb6fa;
	}
	.kat__kode{
		margin-bottom: 5px;
		text-transform: uppercase;
		color: #323c41;
		opacity: 0.5;
		font-family: Calibri, sans-serif;
		font-size: 14px;
	}
	.kat__group{
		height: 25px;
		line-height: 25px;
		padding: 0 10px;
		display: inline-block;
		background: #4fb8fc;
		text-decoration: none;
		font-size: 11px;
		color: #FFF;
		@include transition(all .3s ease-in-out);
		span{
			margin-left: 10px;
			text-transform: uppercase;
		}
		&:hover{
			@include transition(all .3s ease-in-out);
			background: #48a5e1;
		}
	}
	.kat__info{
		margin-top: 25px;
		font-family: Calibri,sans-serif;
		font-size: 14px;
		line-height: 1.2;
		color: rgba(50,60,65, .77);
	}
	.kat__wrap{
		// overflow: hidden;
		margin-top: 40px;
		margin-left: 30px;
		padding-bottom: 50px;
		font-size: 14px;
	}
	.kat__charac{
		// margin-left: 30px;
		margin-right: 25px;
		float: left;
		min-width: 300px;
		width: 100%;
		h4{
			font-weight: normal;
			color:#7f7f7f;
			margin-bottom: 5px;
			font-size: 16px;
		}
		ul{
			list-style: none;
			li{
				position: relative;
				line-height: 28px;
				border-top: 1px solid #e5e5e5;
				span{
					width: 50%;
				}
				strong{
					width: 50%;
					margin-left: 25px;
				}
			}
		}
		table{
			tr{
				&:first-child{
					td{
						padding-top: 25px;
						vertical-align: top;
					}
				}
			}
			td{
				height: 28px;
				border-top: 1px solid #e5e5e5;
				padding-right: 25px;
			}
		}
	}
	.kat__doc{
		ul{
			li{
				margin-top: 15px;
				position: relative;
				line-height: 28px;
				border-top: 1px solid #e5e5e5;
				&:first-child{
					&:after{
						content: "";
						width: 100%;
						height: 1px;
						position: absolute;
						left: 0;
						bottom: 0;
						background: #e5e5e5;
					}
					&:before{
						content: none;
					}
				}
				a{
					&:hover{
						text-decoration: underline;
					}
				}
			}
		}

	}
	.kat__doc{
		li{
			border-top: none;
			&:first-child{
				// border-bottom: 1px solid #e5e5e5;
			}
		}
	}
		.doc{
			margin-top: 25px;
			margin-bottom: 20px;
			a{
				display: inline-block;
				text-decoration: none;
				color: rgba(50,60,65, .5);
			}
			img{
				margin-right: 10px;
				vertical-align: middle;
			}
		}
		.scheme{
			a{
				font-size: 14px;
				font-family: Calibri,sans-serif;
				color: #1795e6;
				text-decoration: none;
			}
		}
.kat_mod{
	@extend %clr;
	padding: 20px 20px 35px;
	.kat_mod__cont{
		font-family: Calibri, sans-serif;
		font-size: 14px;
		line-height: 1.4;
		h2{
			width: 390px;
			margin-bottom: 15px;
			overflow: hidden;
			font-family: Calibri, sans-serif;
			font-size: 26px;
			line-height: 1;
			color: #4eb6fa;
		}
		p{
			margin-bottom: 10px;
		}
	}
	.kat_mod__img{
		margin-left: 20px;
		float: right;
		img{
			margin-bottom: 12px;
			display: block;
		}
		span{
			display: block;
			font-family: Calibri, sans-serif;
			font-size: 12px;
			color: #323c41;
			opacity: 0.5;
		}
	}
}
.kat_mod2{
	@extend %clr;
	padding: 35px;
	font-family: Calibri, sans-serif;
	font-size: 14px;
	line-height: 1.4;
	.kat_mod__cont{
		padding: 40px 0 0 0px;
		width: 420px;
		float: left;
	}
}
// photogallery
.js-masonry{
	@extend %clr;
	padding-bottom: 14px;
}
	.photogallery__nav{
		@extend %clr;
		list-style: none;
		margin-bottom: 10px;
		li{
			height: 60px;
			padding: 0 50px;
			line-height: 60px;
			float: left;

		}
		.active{
			position: relative;
			background: #4db7fc;
			text-shadow: 0px 1px 0px rgba(0,0,0, .2);
			&:after{
				content:"";
				position: absolute;
				bottom: -8px;
				left: 48%;
				width: 0px;
				height: 0px;
				border-style: solid;
				border-width: 8px 8.5px 0 8.5px;
				border-color: #4db7fc transparent transparent transparent;
			}
			a{
				font-family: 'Conv_DlCyRgTf', sans-serif;
				color: #fff;
			}
		}
		a{
			font-size: 22px;
			font-family: 'Conv_DlCyRgTf', sans-serif;
			color: #1895e6;
			text-transform: uppercase;
			text-decoration: none;
		}
	}
	.photogallery__item{
		// width: 181px;
		margin: 14px 0px 0 14px;
		position: relative;
		float: left;
		i{
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			z-index: 1000;
			&:hover{
				@include opacity(.8);
				background-color: #4db7fb;
				cursor: pointer;
			}
		}
	}
	.photogallery__item_w100{
		.photogallery__img{
			img{
				width: 420px;
			}
		}
	}
	.photogallery__item_w50{
		.photogallery__img{
			img{
				width: 227px;
			}
		}
	}
	.photogallery__item_long{
		.photogallery__img{
			img{
				height: 411px;
			}
		}
	}
	.photogallery__item_average{
		.photogallery__img{
			img{
				height: 270px;
			}
		}
	}
	.photogallery__item_small{
		.photogallery__img{
			img{
				height: 127px;
			}
		}
	}
	.photogallery__img{
		img{
			vertical-align: top;
		}
		&:hover{
			cursor: pointer;
		}
	}
	.photogallery__title{
		padding: 10px 20px;
		background: #000;
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		h2{
			text-transform: uppercase;
			font-family: 'Conv_DlCyLtTf', sans-serif;
			color: #FFF;
		}
		.big{
			font-family: 'Conv_DlCyLtTf', sans-serif;
			font-weight: normal;
			font-size: 26px;
		}
	}
// pduct
.product{
	// overflow: hidden;
	list-style-type: none;
}
	.product__item{
		width: 23%;
		padding: 35px 1% 15px;
		float: left;
		position: relative;
		text-align: center;

		@include box-shadow(0 1px 16px rgba(77,184,240,.63));
		background-color: #4fb8fc;
		img{
			// background: transparent;
			background: #FFF;
			@include box-shadow(0 0 0 15px #fff, inset 0 1px 16px rgba(77,184,240,.63));
		}
		.product__meta{
			text-decoration: none;
			color: #FFF;
		}
		&:hover {
			// background-color: #4fb8fc;
			z-index: 10;
			&.product__item{
				// @include box-shadow(0 1px 16px rgba(77,184,240,.63));
			}
			img{
				// background: #FFF;
				// @include box-shadow(0 0 0 15px #fff, inset 0 1px 16px rgba(77,184,240,.63));
			}
			// .product__list {
			// 	display: block;
			// }
			// .product__meta{
			// 	text-decoration: none;
			// 	color: #FFF;
			// }
		}
		.is-left{
			left: -200px;
		}
	}
		.product__wrap{
			padding:0 20px;
			text-align: center;
			.product__meta{
				height: 38px;
				text-align: center;
				overflow: hidden;
			}
		}
			.product__cnt{
				text-decoration: none;
				text-transform: uppercase;
				font-family: Calibri,sans-serif;
				font-size: 16px;
				line-height: 1.2;
				color: #1795e6;
				img{
					width: 100%;
					max-width: 100%;
					min-width: 160px;
					min-height: 160px;
					border-radius: 50%;
					margin-bottom: 20px;
					position: relative;
				}
			}
		.product__list{
			display: block !important;
		}
	// .product__list{
	// 	list-style: none;
	// 	display: none;
	// 	position: absolute;
	// 	top: 0;
	// 	right: -200px;
	// 	width: 200px;
	// 	min-height: 100%;
	// 	white-space: normal;
	// 	padding-top: 20px;
	// 	padding-right: 20px;
	// 	background-color: #4fb8fc;
	// 	box-sizing: border-box;
	// 	text-align: left;
	// 	@include box-shadow(3px 0px 16px rgba(77,184,240,.63));
	// 	li{
	// 		line-height: 27px;
	// 		&:hover{
	// 			background: #112837;
	// 		}
	// 	}
	// 	a{
	// 		padding: 0 12px;
	// 		display: block;
	// 		font-family: Calibri,sans-serif;
	// 		font-size: 13px;
	// 		color: #FFF;
	// 		text-decoration: none;
	// 		text-transform: uppercase;
	// 	}
	// }
.label{
	display: inline-block;
	position: relative;
	width: 44px;
	height: 44px;
	border-radius: 50%;
	background: #4db7fc;
	&:after, &:before {
		content:"";
		position: absolute;
	}
	&:after {
		top: 9px;
		left: 15px;
		width: 6px;
		height: 6px;
		border: 4px solid #fff;
		border-radius: 50%;
	}
	&:before {
		top: 20px;
		left: 16px;
		width: 0px;
		height: 0px;
		border-style: solid;
		border-width: 16px 6.5px 0 6.5px;
		border-color: #fff transparent transparent transparent;
	}
}
.sity{
	width: 29%;
	height: 170px;
	vertical-align: top;
	padding: 1% 3% 1% 1% ;
	display: inline-block;
	overflow: hidden;
	// border: 4px solid transparent;
	&:hover{
		// border: 4px solid #4db7fc;
	}
	.label{
		float: left;
	}
	.sity__cont{
		// float: left;
		margin-left: 56px;
		font-family: Calibri,sans-serif;
		line-height: 1.4;
	}
	.sity__town{
		font-family: Calibri,sans-serif;
		font-size: 17px;
		color: #4eb6fa;
		font-weight: bold;
	}
	.sity__addr{
		font-size: 14px;
		color: #323c41;
	}
	.sity__mail{
		font-size: 14px;
		color: #1795e6;
		text-decoration: underline;
	}
	.sity__tel{
		margin-top: 5px;
		font-size: 20px;
		color: #40494e;
	}
}
.scrollable{
	margin-top: 45px;
}
	.scrollable__cnt{
		position: relative;
	}
	.scrollable__media{
		width: 784px;
		overflow: hidden;
		img{
			width: 100%;
			vertical-align: bottom;
		}
	}
	.scrollable__next, .scrollable__prew{
		width: 42px;
		height: 42px;
		background: #4db7fc;
		position: absolute;
		top: 160px;
	}
	.scrollable__next{
		left: 0;
		&:after{
			content:"";
			display: inline-block;
			position: absolute;
			top: 6px;
			right: 15px;
			@include s(scroll_left);
		}
	}
	.scrollable__prew{
		right: 0;
		&:after{
			content:"";
			display: inline-block;
			position: absolute;
			top: 6px;
			left: 15px;
			@include s(scroll_right);
		}
	}
	.scrollable__list{
		margin-right: -2px;
		overflow: hidden;
		list-style: none;
		li{
			width: 131px;
			height: 95px;
			overflow: hidden;
			position: relative;
			float: left;
			&:last-child{
				i{
					width: 115px;
					height: 81px;
					border: 7px solid transparent;
					&:hover{
						border: 7px solid #4db7fc;
					}
				}
			}
		}
		a{
			display: block;
		}
		img{
			// width: 100%;
			// min-height: 100%;
		}
		i{
			width: 117px;
			height: 81px;
			position: absolute;
			top: 0;
			left: 0;
			&:hover{
				border: 7px solid #4db7fc;
			}
		}
	}
.scrollable_small{
	margin-top: 0;
	margin-right: 20px;
	float: left;
	.scrollable__media{
		width: 445px;
	}
	.scrollable__list{
		li{
			width: 108px;
			height: 80px;
			&:last-child{
				i{
					width: 94px;
					height: 66px;
				}
			}
		}
		i{
			width: 94px;
			height: 66px;
		}
	}
}
.used{
	padding: 25px 30px;
	.slider_innerProj{
		width: 100%;
		margin-right: 0;
		font-size: 0;
	}
}
	.used__title{
		padding-bottom: 10px;
		border-bottom: 1px solid #e5e5e5;
		font-size: 14px;
		color: #323c41;
	}
.proj{
	// padding-bottom: 40px;
	overflow: hidden;
	background: #fff;
	@include box-shadow(3px 0px 16px rgba(77,184,240,.63));
}
	.proj__cont{
		position: relative;
	}
	.proj__text{
		padding: 40px 45px 55px;
		color: #323c41;
		font-size: 14px;
		line-height: 1.2;
	}
	.proj__item{
		width: 240px;
		height: 440px;
		float: left;
		position: relative;
		vertical-align: top;
		background: #FFF;
		color: #000;
		text-decoration: none;
		&:hover{
			h3{
				color: #fff;
			}
			.proj__border{
				display: block;
			}
			background: #4db7fc;
			cursor: pointer;
			color: #fff;
		}
		.proj__img{
			// margin-bottom: -10px;
		}
	}
	.proj__item_ImgBottom{
		.proj__img{
			position: absolute;
			bottom: 0px;
			// margin-bottom: -10px;

		}
		.proj__descr{
			
		}
	}
	.proj__img{
		width: 240px;
		height: 218px;
		overflow: hidden;
		// margin-top: -10px;
		img{
			height: 100%;
		}
	}
	.proj__descr{
		padding: 30px 25px;
		h3{
			width: 140px;
			margin-bottom: 10px;
			color: #4db7fc;
			font-size: 18px;
			line-height: 1;
			font-family: Calibri,sans-serif;
		}
	}
	.proj__border{
		display: none;
		z-index: 1000;
		position: absolute;
		top: 0;
		left: -13px;
		width: 100%;
		height: 414px;
		border: 13px solid #4db7fc;
	}
.triangle{
	position: relative;
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 0 18.5px 15px 18.5px;
	border-color: transparent transparent #007bff transparent;
	&:after{
		content:"";
		position: absolute;
		top: 1px;
		left: -18px;
		width: 0px;
		height: 0px;
		border-style: solid;
		border-width: 0 18.5px 15px 18.5px;
		border-color: transparent transparent #fff transparent;
	}
}
.proj__item{
	.triangle{
		position: absolute;
		top: 260px;
		right: 15px;
	}
	&:hover{
		.triangle{
			border-color: transparent transparent #fff transparent;
			&:after{
				border-color: transparent transparent #4db7fc transparent;
			}
		}
	}
}
.proj__item_ImgBottom{
	.triangle{
		position: absolute;
		top: 180px;
		left: 25px;
		width: 0px;
		height: 0px;
		border-style: solid;
		border-width: 15px 18.5px 0 18.5px;
		border-color: #007bff transparent transparent transparent;
		&:after{
			content:"";
			position: absolute;
			top: -16px;
			left: -18px;
			width: 0px;
			height: 0px;
			border-style: solid;
			border-width: 15px 18.5px 0 18.5px;
			border-color: #fff transparent transparent transparent;
		}
	}
	&:hover{
		.triangle{
			border-color: #fff transparent transparent transparent;
			&:after{
				border-color: #4db7fc transparent transparent transparent;
			}
		}
	}
}
.download{
	min-height: 945px;
	margin-bottom: 12px;
	@include box-shadow(0 0 16px rgba(0,0,0,0.2));
	padding: 30px 25px 30px 30px;
	background: #FFF;
	overflow: hidden;
}
	.download__left{
		// width: 600px;
		padding-right: 50px;
		// float: left;
		overflow: hidden;
		span{
			display: inline-block;
			margin-bottom: 50px;
		}
	}
	.download__right{
		width: 250px;
		float: right;
	}
	.download__item{
		list-style: none;
		li{
			position: relative;
			background: #FFF;
			padding: 20px 0 15px;
			border-bottom: 1px solid #e4eff6;
			&:hover{
				cursor: pointer;
				background: #4db7fc;
				.download__ico{
					@include s(download_hover);
				}
				.download__eye{
					@include s(eye_hover);
				}
				.download__title{
					color: #FFF;
				}
				.download__wt{
					color: #FFF;
					opacity: 0.4;
				}
			}
		}
		a{
			text-decoration: none;
		}
		.download__ico{
			display: inline-block;
			margin-left: 25px;
			margin-top: 0px;
			@include s(download);
			vertical-align: top;
		}
		.download__note{
			width: 520px;
			padding-left: 20px;
			display: inline-block;
			line-height: 1.2;
		}
		.download__title{
			font-weight: bold;
			color: #4eb6fa;
			font-size: 17px;
			font-family: Calibri,sans-serif;
		}
		.download__wt{
			font-family: Calibri,sans-serif;
			font-size: 14px;
			color: #323c41;
		}
		.download__eye{
			position: absolute;
			right: 25px;
			top: 25px;
			@include s(eye);
			vertical-align: top;
		}
	}

.login{
	padding: 20px 12px 5px;
	background: #4db7fc;
	.login__top{
		width: 100%;
		height: 60px;
		background: url(../img/icons/down_border.png) 0px 40px repeat-x;
		.h4{
			text-align: center;
			color: #FFF;
			text-transform: uppercase;
			font-family: Calibri,sans-serif;
			font-size: 27px;
		}
	}
	.row{
		padding: 0 11px;
		overflow: hidden;
		margin-bottom: 15px;
		color: #FFF;
	}
	label{
		display: block;
		p{
			display: inline-block;
			margin-bottom: 5px;
		}
	}
	input{
		width: 192px;
		padding: 0 5px;
		height: 22px;
		background: #4db7fc;
		color: #FFF;
		border: 1px solid #fff;
		display: block;
	}
	button{
		height: 32px;
		padding: 0 30px;
		color: #4db7fc;
		text-transform: uppercase;
		font-family: 'Conv_DlCyLtTf';
		font-size: 13px;
		&:hover{
			cursor: pointer;
		}
	}
	.login__note{
		float: right;
		font-family: Calibri, sans-serif;
		font-size: 12px;
		line-height: 32px;
	}
}
//collection
.wrap-collection{
	overflow: hidden;
}
	.collection{
		width: 180px;
		overflow: hidden;
		float: left;
		list-style: none;
		li{
			margin-bottom: 25px;
			&:first-child{
				p{
					color: #4eb6fa;
					font-size: 18px;
					font-family: Calibri,sans-serif;
					font-weight: bold;
				}
			}
			.collection__item{
				text-transform: uppercase;
				font-family: 'Conv_DlCyLtTf';
				font-size: 14px;
				color: #40494e;
				text-decoration: none;
				&:hover{
					color: #4EB6FA;
					cursor: pointer;
				}
			}
			a.collection__item{
				&:hover{
					text-decoration: underline;
				}
			}
		}
	}
.scroll{
	padding: 24px 0;
}
	.scroll__nav{
		text-align: center;
		a{
			display: inline-block;
			width: 10px;
			height: 10px;
			-webkit-border-radius: 50%;
					border-radius: 50%;
			background: #b8e2fe;
			margin-right: 3px;
			&:hover{
				background: #DCECF7;
			}
		}
		.active{
			width: 4px;
			height: 4px;
			display: inline-block;
			margin-right: 3px;
			-webkit-border-radius: 50%;
					border-radius: 50%;
			border: 3px solid #4eb7fb;
			background: #fff;
		}
	}
	.scroll__wrap{
		padding: 35px 60px;
	}
		.scroll__item{
			@extend %clr;
			display: inline-block;
			margin-bottom: 25px;
		}
			.scroll__item{
				&:hover{
					.scroll__media{
						img{
							border: 5px solid #4eb7fb;
						}
					}
					.date{
						background: #eaf6ff;
						border: 1px solid #eaf6ff;
						.date__number, .date__day{
							opacity: 0.4;
						}
					}
					h2,a{
						color: #305269;
						text-decoration: underline;
					}
				}
			}
			.scroll__media{
				width: 159px;
				height: 159px;
				border-radius: 50%;
				// overflow: hidden;
				margin-right: 25px;
				float: left;
				img{
					border: 5px solid transparent;
					width: 100%;
					height: 100%;
					-webkit-border-radius: 159px;
							border-radius: 159px;
				}
				a{
					display: block;
				}
			}
			.scroll__cont{
				width: 510px;
				padding: 25px 0;
				float: left;
				font-family: Calibri, sans-serif;
				font-size: 14px;
				color: #323c41;
				line-height: 1.3;
				h2,a{
					margin-bottom: 10px;
					font-family: Calibri, sans-serif;
					font-size: 25px;
					color: #4eb6fa;
					line-height: 1;
					text-decoration: none;
				}
			}
			.scroll__cont_news{
				overflow: hidden;
			}
	.scroll__wrap_news{
		a{
			display: block;
		}
		.scroll__item{
			@extend %clr;
		}
	}
.tradeMark{
	min-height: 600px;
	margin-top: 35px;
}
	.tradeMark__title{
		font-family: Calibri, sans-serif;
		font-weight: bold;
		font-size: 18px;
		color: #4eb6fa;
	}
	.tradeMark__item{
		margin-top: 25px;
	}
	.tradeMark__top{
		margin-bottom: 10px;
		.tradeMark__ok{
			margin-right: 12px;
			display: inline-block;
			vertical-align: middle;
			@include s(tradeMark__ok);
		}
		strong{
			font-family: Calibri, sans-serif;
			font-size: 15px;
			color: #323c41;
			text-transform: uppercase;
		}
	}
	.tradeMark__cnt{
		margin-left: 38px;
		font-family: Calibri, sans-serif;
		font-size: 14px;
		color: #323c41;
		strong{
			font-weight: bold;
			color: #1795e6;
		}
	}
.date{
	float: right;
	display: inline-block;
	width: 84px;
	height: 84px;
	margin-left: 55px;
	margin-top: 45px;
	-webkit-border-radius: 50%;
			border-radius: 50%;
	text-align: center;
	border: 1px solid #cae9fe;
	font-family: Calibri, sans-serif;
	color: #4db7fc;
	// &:hover{
	// 	background: #eaf6ff;
	// 	border: 1px solid #eaf6ff;
	// 	.date__number, .date__day{
	// 		opacity: 0.4;
	// 	}
	// }
	.date__number{
		opacity: 0.4;
		margin-top: 10px;
		margin-bottom: -7px;
		font-size: 34px;
	}
	.date__day{
		opacity: 0.4;
	}
}
.popupBg{
	width: 100%;
	height: 100%;
	position: fixed;
	bottom: 0px;
	top: 0px;
	left: 0;
	right: 0;
	z-index: 2000;
	background: #415665;
	opacity: 0.8;
}
.popupLogin{
	width: 460px;
	position: absolute;
	top: 400px;
	left: 50%;
	margin-left: -230px;
	z-index: 1000;
	.popupLogin__cross{
		@include s(popupLogin__cross);
		position: absolute;
		top: 5px;
		right: 15px;
		&:hover{
			cursor: pointer;
		}
	}
	.row{
		p{
			width: 80px;
			margin-left: 40px;
			display: inline-block;
		}
		input{
			display: inline-block;
		}
	}
	.row_log{
		@extend %clr;
		padding-bottom: 25px;
		button{
			float: left;
			margin-left: 134px;
		}
		.login__note{
			margin-left: 10px;
			float: left;
			color: #FFF;
		}

	}
	.login{
		line-height: 1;
		.login__top{
			position: relative;
			.h4{
				margin-left: 15px;
				text-align: left;
			}
		}
		button{
			background: #FFF;
			border: none;
		}
	}
}
.support{
	width: 310px;
	padding: 45px 45px 35px;
	// margin-right: 35px;
	background: #4db7fc;
	float: right;
	font-family: Calibri, sans-serif;
	color: #FFF;
	.support__media{
		margin-bottom: 20px;
	}
	.support__descr{
		margin-bottom: 20px;
	}
	.support__tel{
		overflow: hidden;
		img{
			float: left;
			margin-right: 10px;
		}
		.support__number{
			float: left;
			font-size: 18px;
			span{
				margin-top: 3px;
				margin-bottom: -3px;
				display: block;
				font-size: 13px;
				line-height: 1;
				text-transform: uppercase;
			}
		}
		.support__number_big{
			font-size: 35px;
			line-height: 1;
		}
	}
	.support__tel_mod{
		margin-bottom: 25px;
	}
	b{
		font-size: 17px;
	}
	.mail-to{
		margin-top: 15px;
	}
}
.contact-form{
	float: left;
	h2{
		display: inline-block;
		margin-bottom: 40px;
		font-size: 25px;
		color: #4eb6fa;
	}
	textarea, input{
		@include box-sizing(border-box);
		width: 375px;
		display: block;
		margin-bottom: 10px;
		border: 1px solid #e3e6e8;
		font-family: Calibri, sans-serif;
		font-size: 14px;
		color: #323c41;
		opacity: 0.6;
	}
	textarea{
		padding: 15px 20px;
		min-height: 138px;
		resize: vertical;
	}
	input{
		padding: 0 20px;
		height: 38px;
	}
	.error{
		border: 1px solid #fcbfbf;
		opacity: 1;
	}
	.contact-form__input{
		position: relative;
		.i_er{
			display: none;
		}
	}
	.contact-form__input_error{
		.i_er{
			display: block;
		}
	}
	.i_er{
		@include s(input_error);
		position: absolute;
		top: 9px;
		right: 10px;
	}
	.contact-form__noteError{
		margin-bottom: 20px;
		margin-left: 20px;
		color: #f86b6b;
	}
	.contact-form__capcha{
		overflow: hidden;
		input{
			width: 105px;
			padding: 0 10px;
			margin-right: 10px;
			float: left;
		}
		ul{
			float: left;
			list-style: none;
			p{
				line-height: 1;
				color: #323c41;
			}
			b{
				font-size: 18px;
				color: #4db7fc;
			}
		}
	}
	button{
		margin-top: 15px;
		height: 40px;
		line-height: 40px;
		padding: 0 20px;
		background: #54bafc;
		border: none;
		text-transform: uppercase;
		color: #FFF;
		@include transition(all .2s ease-in-out);
		&:hover{
			cursor: pointer;
			background: #69c4ff;
			@include transition(all .2s ease-in-out);
		}
	}
}
	.contact-form__meta{
		margin-bottom: 25px;
		.contact-form__info{
			margin-right: 5px;
			display: inline-block;
			vertical-align: middle;
			@include s(contact-form__info);
		}
	}
.map{
	display: none;
}
	.map__link{
		display: none;
	}
.mail-to{
	display: block;
	font: 14px Calibri, sans-serif;
	color: #FFF;
	text-decoration: underline;
	&:hover{
		text-decoration: none;
	}
	.mail-to__ico{
		
		display: inline-block;
		@include s(mailTo__ico);
		vertical-align: middle;
		margin-right: 7px;
	}
}
.select-wrap{
	margin-bottom: 35px;
	position: relative;
}
	.js-select-sity{
		width: 345px;
		padding: 7px 15px;
		border: 1px solid #d0d0d0;
		display: block;
		font-size: 16px;
		position: relative;  
		color: #35393c;  
		&:after{
			content:"";
			@include s(select__arr);
			position: absolute;
			top: 7px;
			right: 8px;
			
		}
	}
	#choose-sity{
		opacity: 0;
		width: 377px;
		padding: 9px 15px;
		position: absolute;
		top: 0;
		left: 0;
	}
.wrap_index{
	.slider{
		height: auto;
	}
	.slider__list{
		a,span{
			padding: 0px 0 0px 25px;
			height: 31px;
			line-height: 31px;
		}
		li {
			&.cycle-pager-active {
				background: #3c9ddc;
				color: #FFF;
			}
		}
	}
}
.sexsex{
	position: absolute;
	right: -200px;
	left: 0;
}


