// indeperents blocks
.i_waves{
	@include s(i_waves);
	position: absolute;
	top: 13px;
	right: -80px;
}
.i_scheme{
	@include s(i_scheme);
	margin-right: 10px;
	display: inline-block;
	vertical-align: middle;
}
.lang{
	a{
		display: inline-block;
		padding: 3px 7px;
		text-decoration: none;
		font-family: Calibri, sans-serif;
		color: #4db7fc;
	}
	.active{
		background: #4db7fc;
		color: #fff;
	}
}
.search{
	position: relative;
	input{
		border: 1px solid #e3e6e8;
		padding: 0 10px;
		height: 29px;
		font: 14px Calibri,sans-serif;
	}
	button{
		content:"";
		position: absolute;
		top: 17px;
		right: 10px;
		@include s(search);
		border: none;
		cursor: pointer;
	}
	span{
		display: none;
		line-height: 1;
	}
}
.logo{
	@include s(logo);
	float: left;
	margin-top: 14px;
	margin-right: 50px;
}
.nav{
	width: 777px;
	height: 71px;
	// overflow: hidden;
	float: left;
	vertical-align: top;
	list-style: none;
	li{
		height: 71px;
		line-height: 71px;
		margin-left: 11px;
		position: relative;
		display: inline-block;
		&:first-child{
			margin-left: 0;
		}
	}
	.active{
		position: relative;
		background: #4db7fc;
		a{
			padding: 0 25px;
			color: #fff;
		}
		&:after{
			content:"";
			width: 100%;
			height: 7px;
			position: absolute;
			z-index: 100;
			top: -7px;
			left: 0;
			display: inline-block;
			background: url(../img/icons/nav_border.png) 0px 0px repeat-x;
		}
	}
	a{
		padding: 6px 12px;
		line-height: 27px;
		border: 2px solid transparent;
		text-decoration: none;
		text-transform: uppercase;
		color: #5f6b7b;
		&:hover{
			border: 2px solid #4db7fc;
		}
	}
}
.sub-nav{
	@extend %clr;
	width: 300px;
	height: 41px;
	line-height: 41px;
	margin: 0 auto;
	position: absolute;
	background: #4db7fc;
	list-style: none;
	text-align: center;
	&:before{
		content:"";
		width: 10000px;
		height: 41px;
		line-height: 41px;
		background-color: #4db7fc;
		position: absolute;
		top: 0px;
		right: 100%;
	}
	&:after{
		content:"";
		width: 10000px;
		height: 41px;
		line-height: 41px;
		background-color: #4db7fc;
		position: absolute;
		top: 0px;
		left: 100%;
	}
	li{
		padding: 0 15px !important;
		height: 41px;
		line-height: 41px;
		float: left;
	}
	a{
		display: inline-block;
		height: 23px;
		line-height: 23px;
		padding: 0 10px !important;
		border: 1px solid transparent;
		color: #fff;
		text-decoration: none;
		text-transform: uppercase;
		&:hover{
			border: 1px solid transparent;
		}
	}
	.sub-nav__active{
		border: 1px solid #a6dbfe;
		&:hover{
			border: 1px solid #a6dbfe;
		}
	}
}
.h2{
	margin-top: 30px;
	margin-bottom: 30px;
	position: relative;
	font-family: Calibti,sans-serif;
	text-transform: uppercase;
	font-size: 28px;
	line-height: 1;
	text-align: center;
	color: #fff;
	@include text-shadow(0 1px 0 rgba(0,0,0,.48));
	&:before{
		content:"";
		margin-top: -12px;
		position: absolute;
		top: 50%;
		left: 0;
		@include s(h2_before);
	}
	&:after{
		content:"";
		margin-top: -12px;
		position: absolute;
		top: 50%;
		right: 0;
		@include s(h2_before);
	}
}
.h33{
	margin: 20px 0;
	position: relative;
	display: inline-block;
	margin-right: 10px;
	font-family: Calibri,sans-serif;
	font-size: 32px;
	text-transform: uppercase;
	color: #fff;
	@include text-shadow(0 1px 0 rgba(0,0,0,.48));
}
.slider{
	width: 959px;
	height: 463px;
	margin-bottom: 65px;
	overflow: hidden;
	position: relative;
	.slider__bg{
		width: 959px;
		height: 463px;
		background: url(../img/slider.jpg) 0px 0px no-repeat;
		position: absolute;
		top: 0;
		left: 0;
	}
}
.slider_collection{
	width: 960px;
	min-height: 1152px;
	height: auto;
	@include box-shadow(0 1px 16px rgba(159,207,238,.75));
	.slider__list{
		width: 175px;
		background: #000;
		li{
			padding: 0 0 0 10px;
			margin-left: 15px;
			&:hover{
				background: #fff;
			}
		}
		a{
			width: 100%;
			display: inline-block;
			color: #FFF;
			font-size: 13px;
			&:hover{
				text-shadow: none;
				color: #4db7fc;
			}
		}
	}
	.slider__list{
		padding: 25px 0;
		height: 100%;
	}
	.item__conteiner{
		// width: 750px;
		margin-right: -33px;
		padding: 30px 0px 30px 33px;
		margin-left: 175px;
		background: #fff;
		overflow: hidden;
	}
	.slider__item{
		width: 221px;
		margin-right: 33px;
		margin-bottom: 10px;
		float: left;
		text-decoration: none;
		line-height: 1.2;
	}
	.slider__media{
		width: 221px;
		height: 202px;
		overflow: hidden;
		margin-bottom: 10px;
		img{
			width: 100%;
		}
	}
	.slider__meta{
		color: #4db5f9;
		font-family: "Calibri";
		font-size: 17px;
		font-weight: bold;

	}
	.slider__code{
	@include opacity(.5);
	color: #323c40;
	font-family: "Calibri";
	font-size: 14px;
	}
}
.slider_innerBuy{
	min-height: 965px;
}
	.slider__list{
		width: 211px;
		height: 451px;
		padding: 6px 0;
		position: absolute;
		background: rgba(0,0,0, 0.8);
		overflow: hidden;
		list-style: none;
		li{
			height: 30px;
			line-height: 30px;
			padding: 0 0 0 20px;
			&:hover{
				background: #4db7fc;
				cursor: pointer;
			}
		}
		a{
			font-size: 16px;
			text-transform: uppercase;
			color: #FFF;
			text-decoration: none;
			@include text-shadow(0 1px 0 rgba(0,0,0,.48));

		}
	}
	.slider__title{
		position: absolute;
		bottom: 25px;
		left: 230px;
		font-size: 92px;
		line-height: 1;
		color: #FFF;
		@include text-shadow(0 1px 0 rgba(0,0,0,.48));
	}
.news{
	position: relative;
	text-align: center;
	margin-top: 65px;
	background-color: rgba(7,46,72,.5);
	&:after{
		content: "";
		position: absolute;
		bottom: -33px;
		left: 0;
		@include s(news_btm);
	}
}
	.news__title{
		height: 80px;
		padding: 0 10px;
		position: relative;
		top: -40px;
		text-align: center; 
		overflow: hidden;
		span{
			position: relative;
			height: 40px;
			line-height: 40px;
			padding: 0px 13px 0;
			display: inline-block;
			background-color: rgba(7,46,72, .5);
			@include text-shadow(0 1px 0 rgba(0,0,0,.48));
			text-transform: uppercase;
			font-size: 21px;
			color: #fff;
			opacity: 1;
			&:before{
				content: "";
				position: absolute;
				top: 16px;
				right: 110%;
				width: 1000px;
				height: 4px;
				background: #4fb7fc;
				position: absolute;
			}
			&:after{
				content: "";
				position: absolute;
				top: 16px;
				left: 110%;
				width: 1000px;
				height: 4px;
				background: #4fb7fc;
				position: absolute;
			}
			i{
				width: 100%;
				position: absolute;
				top: 17px;
				padding: 10px 30px;
				border-top: 1px solid #4db7fc;
				border-bottom: 1px solid #4db7fc;
				position: relative;
				font-style: normal;
				&:before{
					content: "";
					width: 7px;
					height: 100%;
					position: absolute;
					top: 0;
					left: 0;
					background: url(../img/icons/news_border.png) 0px 0px repeat-y;
				}
				&:after{
					content: "";
					width: 7px;
					height: 100%;
					position: absolute;
					top: 0;
					right: 0;
					background: url(../img/icons/news_border.png) 0px 0px repeat-y;
				}
			}
		}
	}
	.news__items{
		padding: 0 50px;
		margin-top: -30px;
		margin-right: -80px;
		.active{
			position: relative;
			border: 5px solid #4db7fc;
			&:before{
				content: "";
				position: absolute;
				top: 50px;
				left: -80px;
				@include s(active_border);
			}
			&:after{
				content: "";
				position: absolute;
				top: 50px;
				right: -80px;
				@include s(active_border);
			}
		}
	}
	.news__item{
		width: 230px;
		margin-right: 80px;
		display: inline-block;
		vertical-align: top;
		text-align: center;
		text-decoration: none;
		font: 14px Calibri, sans-serif;
	}
		.news__img{
			margin-bottom: 15px;
			display: inline-block;
			width: 112px;
			height: 112px;
			border-radius: 112px;
			img{
				text-align: center;
				width: 112px;
				height: 112px;
				border-radius: 56px;
			}
		}
		.news__meta{
			width: 180px;
			margin-bottom: 10px;
			display: inline-block;
			font-size: 16px;
			font-weight: bold;
			color: #FFF;
		}
		.news__descr{
			margin-bottom: 10px;
			color: #FFF;
			vertical-align: top;
			display: inline-block;
		}
.some-info{
	margin-top: 60px;
	margin-bottom: 50px;
	text-align: center;
	font: 14px Calibri,sans-serif;
	color: #fff;
	p{
		margin-bottom: 20px;
	}
}
.breadcrumbs{
	margin: 20px 0 0;
	list-style: none;
	li{
		padding: 2px 10px;
		margin-right: 20px;
		display: inline-block;
	}
	a{
		font-family: Calibri, sans-serif;
		font-size: 11px;
		text-decoration: none;
		color: #FFF;
		opacity: 0.55;
	}
	.active{
		position: relative;
		@include opacity(.5);
		background-color: rgba(0,0,0,.78);
		&:after{
			content:"";
			width: 0px;
			height: 0px;
			border-style: solid;
			border-width: 10px 0 10px 7px;
			border-color: transparent transparent transparent rgba(0,0,0,.78);
			position: absolute;
			top: 0;
			right: -7px;
		}
	}
}
.waves{
	width: 100%;
	min-height: 155px;
	position: relative;
	background: #ecf7ff;
	&:before{
		content:"";
		width: 100%;
		height: 45px;
		background: url(../img/icons/waves_bg.png) 0px 0px repeat-x;
		position: absolute;
		top: -45px;
		left: 0;
		z-index: -1;
	}
}
.waves_text{
	padding-top: 40px;
	padding-bottom: 50px;
}
	.waves__cont{
		width: 960px;
		margin: 0 auto;
		text-align: center;
		p{
			font-family: Calibri,sans-serif;
			font-size: 14px;
			color: #4d6779;
			margin-bottom: 25px;
		}
	}
.kat{
	background: #fff;
	overflow: hidden;
	@include box-shadow(0 1px 16px rgba(159,207,238,.75));
}
	.kat__nav{
		width: 160px;
		padding: 25px 0 25px 15px;
		margin-right: 30px;
		float: left;
		background: #000;
		list-style: none;
		li{
			background: #000;
			&:hover{
				background: #FFF;
			}
		}
		a{
			padding: 5px 0 5px 10px;
			display: block;
			line-height: 25px;
			font-family: Calibti,sans-serif;
			font-size: 14px;
			text-transform: uppercase;
			text-decoration: none;
			color: #FFF;
			&:hover{
				color: #4db7fc;
			}
		}
	}
	.kat__conteiner{
		width: 755px;
		padding: 35px 0;
		float: left;
	}
	.kat__media{
		width: 365px;
		margin-right: 30px;
		float: left;
		position: relative;
		&:before{
			content: "";
			position: absolute;
			top: 140px;
			left: 130px;
			opacity: 0;
			@include s(glass);
			@include transition(opacity .3s);
		}
		&:hover{
			cursor: pointer;
			&:before{
				@include transition(opacity .3s);
				opacity: 1;
			}
		}

	}
	.kat__descr{
		width: 340px;
		float: left;
	}
	.kat__title{
		margin-bottom: 25px;
		font-family: Calibri,sans-serif;
		font-size: 25px;
		line-height: 1;
		color: #4eb6fa;
	}
	.kat__kode{
		margin-bottom: 5px;
		text-transform: uppercase;
		color: #323c41;
		opacity: 0.5;
	}
	.kat__group{
		height: 25px;
		line-height: 25px;
		padding: 0 10px;
		display: inline-block;
		background: #4fb8fc;
		text-decoration: none;
		font-size: 11px;
		color: #FFF;
		@include transition(all .3s ease-in-out);
		span{
			margin-left: 10px;
			text-transform: uppercase;
		}
		&:hover{
			@include transition(all .3s ease-in-out);
			background: #48a5e1;
		}
	}
	.kat__info{
		margin-top: 25px;
		font-family: Calibri,sans-serif;
		font-size: 14px;
		line-height: 1.2;
		color: rgba(50,60,65, .77);
	}
	.kat__doc, .kat__charac{
		float: left;
		list-style: none;
		li{
			line-height: 28px;
			border-top: 1px solid #e5e5e5;
			&:first-child{
				color: rgba(50,60,65, .5);
				border-top: none;
			}
			strong{
				margin-left: 25px;
			}
		}
	}
	.kat__charac{
		margin-right: 25px;
	}
	.kat__meta{

	}
	.kat__somePadding{
		padding-top: 20px;
		line-height: 1;
	}
	.kat__doc{
		li{
			border-top: none;
			&:first-child{
				border-bottom: 1px solid #e5e5e5;
			}
		}
	}
		.doc{
			margin-top: 25px;
			margin-bottom: 20px;
			a{
				display: inline-block;
				text-decoration: none;
				color: rgba(50,60,65, .5);
			}
			img{
				margin-right: 10px;
				vertical-align: middle;
			}
		}
		.scheme{
			a{
				font-size: 14px;
				font-family: Calibri,sans-serif;
				color: #1795e6;
				text-decoration: none;
			}
		}
// photogallery
.js-masonry{
	@extend %clr;
	padding-bottom: 14px;
}
	.photogallery__nav{
		@extend %clr;
		list-style: none;
		margin-bottom: 10px;
		li{
			height: 80px;
			padding: 0 65px;
			line-height: 80px;
			float: left;

		}
		.active{
			position: relative;
			background: #4db7fc;
			text-shadow: 0px 1px 0px rgba(0,0,0, .7);
			&:after{
				content:"";
				position: absolute;
				bottom: -8px;
				left: 48%;
				width: 0px;
				height: 0px;
				border-style: solid;
				border-width: 8px 8.5px 0 8.5px;
				border-color: #4db7fc transparent transparent transparent;
			}
			a{
				color: #fff;
			}
		}
		a{
			font-size: 22px;
			font-family: Calibri,sans-serif;
			color: #1895e6;
			text-transform: uppercase;
			text-decoration: none;
		}
	}
	.photogallery__item{
		margin: 14px 0px 0 14px;
		position: relative;
		float: left;
		i{
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			z-index: 1000;
			&:hover{
				@include opacity(.8);
				background-color: #4db7fb;
				cursor: pointer;
			}
		}
	}
	.photogallery__img{
		img{
			vertical-align: top;
		}
		&:hover{
			cursor: pointer;
		}
	}
	.photogallery__title{
		padding: 10px 20px;
		background: #000;
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		h2{
			text-transform: uppercase;
			color: #FFF;
		}
		.big{
			font-family: Calibri,sans-serif;
			font-weight: normal;
			font-size: 26px;
		}
	}
// product
.product{
	@extend %clr;
	margin-right: -50px;
	padding: 20px 25px 25px;
}
	.product__wrap{
		padding: 20px;
	}
	.active{
		color: #FFF;
		.product__wrap{
			overflow: hidden;
			background-color: rgba(77,183,252,.99);
			@include box-shadow(0 1px 16px rgba(77,184,240,.63));

		}
		.product__media{
			@include box-shadow(inset 0 1px 16px rgba(77,184,240,.63));
		}
		.product__meta{
			color: #FFF;
		}
		a{
			text-decoration: none;
			color: #FFF;
		}
		.product__list{
			display: block;
			padding-top: 20px;
			margin-top: -20px;
			margin-left: 208px;
			height: 258px;
			overflow: hidden;
			background-color: rgba(77,183,252,.99);
			@include box-shadow(3px 0px 16px  rgba(77,184,240,.63));
			li{
				padding: 0 12px;
				height: 27px;
				line-height: 27px;
				&:hover{
					background: #112837;
				}
			}
			a{
				font-family: Calibri,sans-serif;
				font-size: 13px;
			}
		}
	}
	.product__cnt{
		float: left;
	}
	.product__item{
		height: 278px;
		float: left;
		vertical-align: top;
		text-decoration: none;
		text-transform: uppercase;
		font-family: Calibri,sans-serif;
		font-size: 16px;
		line-height: 1.2;
		color: #1795e6;
		&:hover{
			cursor: pointer;
		}
	}
	.product__media{
		width: 160px;
		height: 160px;
		line-height: 160px;
		padding: 15px;
		border-radius: 50%;
		margin-bottom: 10px;
		background: #fff;
		overflow: hidden;
		text-align: center;
		img{
			max-width: 160px;
			height: 160px;
			border-radius: 50%;
		}
	}
	.product__meta{
		height: 38px;
		text-align: center;
		overflow: hidden;
	}
	.product__list{
		min-width: 245px;
		padding-right: 25px;
		display: none;
		position: absolute;
		z-index: 1000;
		float: left;
		list-style: none;
	}
.label{
	display: inline-block;
	position: relative;
	width: 44px;
	height: 44px;
	border-radius: 50%;
	background: #4db7fc;
	&:after, &:before {
		content:"";
		position: absolute;
	}
	&:after {
		top: 9px;
		left: 15px;
		width: 6px;
		height: 6px;
		border: 4px solid #fff;
		// border-bottom: 4px solid #fff;
		border-radius: 50%;
	}
	&:before {
		top: 20px;
		left: 16px;
		width: 0px;
		height: 0px;
		border-style: solid;
		border-width: 16px 6.5px 0 6.5px;
		border-color: #fff transparent transparent transparent;
	}
}
.sity{
	width: 297px;
	height: 100px;
	padding: 20px;
	display: inline-block;
	overflow: hidden;
	border: 4px solid transparent;
	&:hover{
		border: 4px solid #4db7fc;
		cursor: pointer;
	}
	.label{
		float: left;
	}
	.sity__cont{
		float: left;
		margin-left: 12px;
		font-family: Calibri,sans-serif;
		line-height: 1.4;
	}
	.sity__town{
		font-family: Calibri,sans-serif;
		font-size: 17px;
		color: #4eb6fa;
		font-weight: bold;
	}
	.sity__addr{
		font-size: 14px;
		color: #323c41;
	}
	.sity__mail{
		font-size: 14px;
		color: #1795e6;
		text-decoration: underline;
	}
	.sity__tel{
		margin-top: 5px;
		font-size: 24px;
		color: #40494e;
	}
}