// # SHORT HOWTO
// ## Sprites
//	 .whatever{
//		 @include sized-sprite($icons, badge_hit); //or
// 	@include s(badge_hit); //gets default value for spritemap as $icons
//	 }
// ### animation example
//	 @include keyframes(rotate) {
//		from {
//		   @include rotate(0);
//		}
//		to {
//		   @include rotate(360);
//		 }
//	 }
// ## animation usage
//	 body:hover{
// 		@include animation(rotate 200s linear infinite);
//	 }
// ## animations easing, see easings.net for full list and examples, tnx @ai
//	 transition: all 1.2s ceaser($ease-in);
// ## gradient example
//	 @include background-image(linear-gradient(#232323, #5c5c5c));
// ## making bw-images
//	 img{@extend %gray;}
// ## predefined media-queries: https://github.com/paranoida/sass-mediaqueries
//	 @min-screen(320){ css goes here}
// @max-screen(1000), @iphone5, @iphone4, @ipad-retina, @ipad, @hdpi - also available
//
// ## use cycles
//	 @for $i from 1 through 3 {
//	   .item-#{$i} { width: 2em * $i; }
//	 }
//	 @each $s in a,b,c{
// 		#{$s}
//	 }
// BTW these comments will not render into css
// for awesomeness use .🍺 class. Example:
// .🍺{beer:everything}

//*{-webkit-transition: .3s all;}

*{margin:0;padding:0; }
button::-moz-focus-inner { padding: 0; border: 0 }
input[type="submit"]::-moz-focus-inner { padding: 0; border: 0 }

body{
	font: {
		family: "Calibri", Helvetica, Arial, sans-serif;;
		weight: normal;
		size: 12px;
	}
	line-height:1.4;
}
// resets
a img,fieldset{
	border:none;
}
// common styles, these could be attached to any block with "@extend %wyswyg;"
%wyswyg{
	p{
		margin-bottom: 1em;
	}
	ul,ol{
		margin: 1em 2em;
		list-style: disc;
	}
	ol{
		list-style: decimal;
	}
	blockquote{
		margin: 1em 2em;
	}
	table{
		border-spacing: 0;
		border-collapse: collapse;
		width: 100%;
		td{
			border: 1px solid #ccc;
			padding: 5px;
		}
	}
}
////////////////////////// * DEFAULT *////////////////////////////
a{
	color: #4EB6FA;
	//font-size: 14px;
	//font-family: "Calibri", Helvetica, sans-serif;
	text-decoration: none;
	&:hover{
		text-decoration: underline;
	}
}

////////////////////////// * FONTS *////////////////////////////
@font-face {
	font-family: 'Conv_DlCyLtTf';
	src:
		url('../fonts/DlCyLtTf.eot');
	src:
		url('../fonts/DlCyLtTf.woff') format('woff'),
		url('../fonts/DlCyLtTf.ttf') format('truetype'),
		url('../fonts/DlCyLtTf.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Conv_DlCyRgTf';
	src:
		url('../fonts/DlCyRgTf.eot');
	src:
		url('../fonts/DlCyRgTf.woff') format('woff'),
		url('../fonts/DlCyRgTf.ttf') format('truetype'),
		url('../fonts/DlCyRgTf.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
//////////////////////////* HEADER *//////////////////////////
.out__border{
	position: absolute;
	top: 121px;
	left: 0;
	z-index: 100;
	width: 100%;
	height: 1px;
	background: #7a7a7a;
}
.out_changeBg{
	.out__border{
		z-index: -1;
		height: 1px;
		background: #d3e5f1;
		@include box-shadow(0 1px 4px rgba(66,144,195,.38));
	}
}
.header{
	
}
	.header__toppper{
		overflow: hidden;
		height: 49px;
		border-bottom: 1px solid #e5e5e5;
		.lang{
			padding: 15px 0 18px;
			float: left;
		}
		.search{
			padding: 9px 0;
			float: right;
		}
	}
	.header__general{
		@extend %clr;
		min-height: 71px;
		position: relative;
		background: #FFF;
	}
////////////////// * FOOTER * ///////////////////////////////
.footer{
	width: 100%;
	padding: 35px 0 0px;
	background: #252525;
	position: relative;
	color: rgba(255,255,255, .4);
	font-family: "Calibri", Helvetica, sans-serif;
	font-size: 12px;
	&:before{
		content:"";
		width: 100%;
		height: 30px;
		background: url(../_img/icons/sexy-border.png) 0px 0px repeat-x;
		position: absolute;
		top: -30px;
		left: 0;
	}
}
	.footer__wrap{
		@extend %clr;
		max-width: 960px;
		// width: 960px;
		// width: 90%;
		margin: 0 auto;
		position: relative;
	}
	.footer__map{
		display: none;
		height: 54px;
		line-height: 54px;
		margin-bottom: 30px;
		padding: 0 9px;
		border: 1px solid #4db7fc;
		font-family: 'Conv_DlCyLtTf';
		font-size: 24px;
		color: #FFF;
		text-transform: uppercase;
	}
	.footer__left{
		width: 600px;
		padding-bottom: 15px;
		margin-right: 70px;
		float: left;
		.h3{
			padding: 0 0px 0px;
			border-bottom: 2px solid #383838;
			font-size: 13px;
			text-transform: uppercase;
		}
		.h3{
			a{
				color: rgba(255, 255, 255, 0.4);
				text-decoration: none;
				padding: 5px 10px;
				display: inline-block;
				margin-bottom: 3px;
				&:hover{
					background: #4EB6FA;
					color: #000;
				}
			}
		}
		.h4{
			padding: 10px 8px;
			height: 24px;
			line-height: 24px;
			text-transform: uppercase;
		}
		.left, .right{
			list-style: none;
			a{
				color: rgba(255,255,255, .4);
				text-decoration: none;
				text-overflow: ellipsis;
				overflow: hidden;
			}
			li{
				&:first-child{
					a{
						width: auto;
						margin-top: 3px;
						display: inline-block;
						&:hover{
							background: #4EB6FA;
						}
					}
				}
			}
		}
		.left{
			width: 345px;
			margin-bottom: 45px;
			float: left;
			li{
				margin-right: 8px;
				margin-bottom: 1px;
				display: inline-block;
				vertical-align: top;
				a{
					&:hover{
						color: #000;
					}
				}
				&:hover{
					background: #4db5f9;
				}
				&:first-child{
					width: 345px;
					padding: 0;
					margin-right: 0;
					margin-bottom: 15px;
					border-bottom: 1px solid #383838;
					&:hover{
						background: transparent;
					}
				}
			}
			a{
				width: 56px;
				display: block;
				padding: 5px 10px;
			}
		}
		.right{
			width: 255px;
			float: left;
			li{
				margin-right: 8px;
				margin-bottom: 1px;
				display: inline-block;
				vertical-align: top;
				a{
					&:hover{
						color: #000;
					}
				}
				&:hover{
					background: #4db5f9;
				}
				&:first-child{
					width: 255px;
					border-bottom: 1px solid #383838;
					padding: 0;
					margin-right: 0;
					margin-bottom: 15px;
					&:hover{
						background: transparent;
					}
				}
			}
			a{
				width: 98px;
				display: block;
				padding: 5px 10px;
			}
			.h4{
				// width: 239px;
			}
		}
	}
	.footer__right{
		@extend %clr;
		// float: left;
		.left, dl{
			margin-right: 40px;
			float: left;
			list-style: none;
			li{
				margin-bottom: 15px;
			}
			a{
				padding: 5px 10px;
				font-size: 12px;
				color: rgba(255,255,255, .4);
				text-decoration: none;
				text-transform: uppercase;
				&:hover{
					background: #4db5f9;
					color: #000;
				}
			}
		}
		dl{
			float: left;
			dt{
				margin-bottom: 20px;
				font-size: 12px;
				text-transform: uppercase;
			}
			dd{
				font-size: 11px;
				margin-bottom: 12px;
			}
			a{
				text-transform: none;
				text-decoration: none;
				color: rgba(255,255,255, .4);
				&:hover{
					// text-decoration: underline;
				}
			}
		}
	}
	.copyright{
		height: 67px;
		line-height: 67px;
		background: #000;
		// vertical-align: middle;
		.copyright__logo{
			@include s(logo_copy);
			display: inline-block;
			vertical-align: middle;
		}
		.copyright__info{
			position: absolute;
			top: 0px;
			right: 0;
		}
	}

// mod for nav
.header{
	.nav{
		padding-top: 20px;
		@include box;
		height: 71px;
		li{
			height: 51px;
			line-height: 51px;
		}
		.is-thereIsDropNaw{
			height: 51px;
			line-height: 51px;
		}
	}
	.sub-nav{
		li{
			line-height: 41px;
		}
	}
}
