// default layout
.out{
	position: relative;
	background: url(../img/bg.jpg) 0% 121px no-repeat;
	@include background-size(cover);
}
.out_changeBg{
	margin-bottom: 10px;
	background: url(../img/bg2.jpg) 50% 121px no-repeat;
	overflow: hidden;
}
.out_alt{
	background: url(../img/bg.jpg) 0% 121px no-repeat;
	@include background-size(cover);
	margin-bottom: 125px;
	padding-bottom: 20px;
	overflow: hidden;
}
.wrap{
	width: 960px;
	margin: 0 auto;
}
.content{
	width: 960px;
	display: inline-block;
}
.content_subNav{
	padding-top: 41px;
}
.l{
	width: 100%;
	display: inline-block;
	.l-col1{
		float:left;
		width: 20%;
	}

	.l-col2{
		float:right;
		width: 70%;
	}
}
