////////////////////////// * media screen *////////////////////////////
@media only screen and (min-width: 1200px) and (max-width: 9900px) {
	// layout for all pages
	.header{
		width: 1200px;
		margin: 0 auto;
	}
	.kat__descr{
		width: 55%;
	}
	.h1{
		width: 1200px;
		margin: 30px auto;
	}
	.wrap{
		width: 90%;
		max-width: 1200px;
		.scroll__cont_news{
			overflow: hidden;
		}
		.scroll__cont{
			width: auto;
			float: none;
		}
		.date{
			margin-left: 40px;
		}
	}
	.wrap_index{
		width: 100%;
		ul.slider__list {
			a,span {
				height: 31px;
				line-height: 31px;
				padding: 0px 0 0px 25px;
			}
		}
	}
	.wrap_index{
		.slider{
			width: 1200px;
			.slider__bg{
				width: 100%;
			}
		}
		.content{
			padding-bottom: 20px;
		}
	}
	.logo{
		margin-right: 130px;
	}
	.content{
		width: auto;
		// padding-bottom: 15px;
		display: block;
	}
	.footer__wrap{
		width: 90%;
		max-width: 1200px;
	}
	.footer__left{
		width: 75%;
		margin-right: 0;
		.left{
			width: 55%;
			li{
				&:first-child{
					width: 100%;
				}
			}
		}
		.right{
			width: 45%;
			li{
				&:first-child{
					width: 100%;
				}
			}
		}
	}
	.footer__right{
		float: right;
	}
	// index.html
	.slider{
		width: 1200px;
		margin: 0 auto;
		.slider__bg{
			width: 100%;
			// height: 100%;
		}
	}
		.slider__bg{
			margin-right: 200px;
			a{
				display: block;
			}
		}
	.news{
		&:after{
			width: 100%;
			background: url('../img/icons/news_btm2.png') 0 0px repeat-x;
		}

	}
		.news__items{
			margin-right: 0;
			// margin-left: 80px;
		}

	// inner_buy.html
	.slider_innerBuy{
		width: 1200px;
	}
	.slider_collection {
		.item__conteiner{
			width: 1025px;
		}
	}

	.sity{
		width: 21%;
		height: 170px;
	}
	// catalogue_item.html
	.kat__conteiner{
		width: 1025px;
	}
	// catalogue_section.html
		.product__item{
			width: 18%;
		}
	// inner_about-service.html
	.kat_mod2 {
		.kat_mod__cont{
			width: auto;
			overflow: hidden;
			float: none;
			margin-right: 35px;
		}
	}
	// inner_about-contacts.html
	.support_aboutContacts{
		float: none;
		margin: 0 auto;
		padding: 45px 95px 40px;
	}
	.contact-form{
		width: 425px;
		float: none;
		margin: 0 auto;
		width: 400px;
		background: #C1E4FC;
		padding: 50px;
		text-align: center;
		.i_er{
			right: 36px;
		}
	}
	// inner_autorization.html
	.download__left{
		// width: 100%;
	}
	// inner_proj.html
	.used{
		.slider_innerProj{
			.slider__item{
				// width: 117px;
				width: 15%;
			}
			.slider__item{
				margin: 0 1.5% 1% 0;
				&:nth-child(4n+1){
					margin: 0 1.5% 1% 0;
				}
			}
		}
	}
	// inner_one.html
	.proj__item{
		width: 25%;
		.proj__img {
			width: 100%;
		}
	}
	// inner_one.html
	.proj__item{
		width: 25%;
		proj__border {
			width: 100%;
		}
		.proj__img {
			width: 100%;
		}
	}
	.slider_proj{
		.item__conteiner{
			width: 1025px;
		}
		.scrollable__next, .scrollable__prew{
			top: 209px;
		}
	}
	.scrollable__media{
		width: 100%;
	}
	.scrollable__list{
		margin-right: -8px;
		i{
			width: 158px;
		}
		li{
			width: 171px;
			&:last-child{
				i{
					width: 156px;
				}
			}
		}
	}
	// inner_collection.html
	.slider_collectionMod {
		width: auto;
		overflow: hidden;
		.item__conteiner{
			width: auto;
			margin-left: 0;
			float: none;
		}
	}
	// inner_download.html
	.download__left_innerDownload{
		// width: auto;
	}
}

@media only screen and (min-width: 768px) and (max-width: 960px) {
	// layout for all pages
	.header{
		padding: 0 9px;
	}
	.logo{
		margin-right: 25px;
	}
	.wrap{
		width: auto;
		padding: 0 9px;
		.nav{
			width: 550px;
			margin-top: 5px;
			height: auto;
			li{
				width: 135px;
				margin-right: 14px;
				text-align: center;
				margin: 2px 0;
				height: auto;
				line-height: 1;
			}
			.active{
				&:after{
					background: none;
				}
			}
			a,span{
				padding: 6px 12px;
				font-size: 15px;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
				border: 2px solid transparent;
				&:hover{
					border: 2px solid transparent;
				}
			}
		}
	}
	.wrap_index{
		width: 100%;
		padding: 0;
		ul.slider__list{
			a,span{
				height: 31px;
				line-height: 31px;
				padding: 0px 0 0px 25px;
			}
		}
	}
	.nav{
		width: auto;
		li{

		}
		a,span{
			padding: 6px 4px;
			font-size: 11px;
		}
		.active{
			a,span{
				padding: 0 9px;
			}
		}
	}
	.content{
		width: 100%;
		padding-bottom: 30px;
		display: block;
	}

	.sub-nav{
		// display: none;
	}
	.waves__cont{
		width: 100%;
	}
	.footer__left{
		width: auto;
		margin-right: 0;
		.right {
			li{
				&:first-child{
					width: 100%;
				}
			}
		}
	}
	.footer__right{
		float: right;
		.left{
			float: none;
		}
		dl{
			dt{
				margin-left: 9px;
			}
		}
	}
	.copyright{
		.copyright__logo{
			margin-left: 10px;
		}
	}
	.copyright__info{
		display: none;
	}
	.header__general{
		min-height: auto;
	}
	// index.html
	.h1{
		font-size: 28px;
		line-height: 24px;
		span{
			&:before, &:after{
				width: 68px;
				vertical-align: bottom;
			}
		}
	}
	.wrap_index{
		.slider{
			width: 98%;
			margin: 0 1%;
			.slider__bg{
				width: 100%;
				img{
					// width: 100%;
					// height: 100%;
				}
			}
		}
	}
	.news{
		&:after{
			width: 100%;
		}
		.news__item{
			width: 210px;
			margin-left: 10px;
		}
	}
	// catalogue_item.html
	.kat__media{
		width: 265px;
		margin-left: 2.5%;
		margin-right: 0;
		&:before{
			top: 80px;
			left: 85px;
		}
		img{
			width: 265px;
		}
	}
	.kat__descr {
		margin-left: 2.5%;
		.kat__title-wrap{
			margin-left: 0;
		}
		.kat__wrap{
			margin-left: 0;
		}
	}
	.kat__wrap{
		margin-left: 2.5%;
	}
	// catalogue_section.html
	.product__item{
		width: 48%;
	}
	// .product__list{
	// 	min-width: 200px;
	// }
	// inner_about-contacts.html
	.support{
		margin: 0 auto;
		float: none;
	}
	.contact-form{
		margin: 20px auto 0;
		float: none;
		width: 400px;
		textarea,input{
			width: 400px;
		}
	}
	// inner_proj.html
	.slider{
		width: auto;
		overflow: hidden;
		.item__conteiner{
			width: auto;
			margin-left: 0;
			float: none;
		}
	}
	.scrollable__list{
		li{
			width: 16.6%;
			&:last-child{
				i{
					width: auto;
				}
			}
		}
		i{
			width: auto;
			left: 0;
			right: 0;
		}
	}
	.slider_innerProj{
		margin-right: -20px;
		.slider__item{
			margin-right: 20px;
		}
	}
	.slider_innerProj{
		.slider__media, .slider__meta{
			width: auto;
			height: auto;
		}
	}
	.scrollable__media{
		width: 100%;
		// img{
		// 	width: 100%;
		// 	min-width: 100%;
		// }
	}
	.scrollable__next, .scrollable__prew{
		display: none;
	}
	// inner_userfull.html
	.scroll__cont{
		width: auto;
		float: none;
	}
	// inner_buy.html
	.sity{
		width: 46%;
	}
	// inner_collection.html
	.slider_collection{
		.slider__item{
			width: 46%;
			&:nth-child(4n+1){
				margin: 0 1%;
			}
			&:nth-child(4n){
				margin: 0 1%;
			}
			&:nth-child(2n){
				margin: 0 3% 2% 1%;
			}
			&:nth-child(2n+1){
				margin: 0 1% 2% 3%;
			}
		}
	}
	// inner_one.html
	.proj__item{
		width: 33.3%;
		&:nth-child(3n){
			width: 33.4%;
		}
		&:nth-child(3n+4){
			.proj__img{
				position: static;
			}
			.triangle{
				top: 260px;
				left: auto;
				right: 15px;
			}
		}
		&:nth-child(3n+5){
			.proj__img{
				position: absolute;
				bottom: 0px;
			}
			.triangle{
				top: 180px;
				left: 25px;
			}
		}
		&:nth-child(3n+6){
			.proj__img{
				position: static;
			}
			.triangle{
				top: 260px;
				left: auto;
				right: 15px;
			}
		}
	}
		.proj__border{
			width: 100%;
		}
		.proj__img{
			width: auto;
		}
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
	// layout for all pages
	.lang{
		display: none;
	}
	.header{
		position: relative;
	}
	.header__toppper{
		height: 0;
		border-bottom: none;
	}
	.search{
		position: absolute;
		bottom: 15px;
		left: 20px;
		z-index: 100;
	}
	.header__general{
		min-height: 100%;
	}
	.out__border{
		top: 55px;
	}
	.logo{
		margin: 11px auto;
		float: none;
		display: block;
	}
	.navMobile{
		display: block;
	}
	.nav{
		width: 100%;
		height: auto;
		padding: 20px 0 55px;
		background: #4DB7FC;
		float: left;
		li{
			height: auto;
			line-height: 1;
			display: block;
			margin-left: 15px;
			margin-bottom: 9px;
			&:first-child{
				margin-left: 15px;
			}
			a,span{
				font-size: 21px;
				color: #fff;
				padding: 0 2px;
				&:hover{
					border: 2px solid transparent;
					background: #fff;
					color: #4db7fc;
				}
			}
		}
		.active{
			&:after{
				content:none;
			}
			a,span{
				padding: 0 2px;
				background: #FFF;
				color: #4db7fc;
			}
		}
	}
	.sub-nav{
		display: none;
	}
	.out_alt{
		min-height: 650px;
		background: url(../img/bg.jpg) 0% 0px no-repeat;
		// @include background-size(cover);
		margin-bottom: 30px;
	}
	.wrap{
		width: auto;
	}
	.content{
		width: 100%;
		// padding-bottom: 30px;
	}
	.waves__cont{
		width: 100%;
	}
	.footer{
		font-size: 14px;
		&:before{
			content: none;
		}
		.footer__wrap{
			padding-left: 18px;
		}
		.footer__left{
			width: 100%;
			.left{
				width: 50%;
				li{
					&:first-child{
						display: none;
					}
				}
			}
			.h3{
				border-bottom: none;
				font-size: 20.5px;
			}
			.right{
				width: 50%;
				li{
					&:first-child{
						display: none;
					}
				}
			}
		}
		.footer__right{
			width: 100%;
			.left{
				float: none;
			}
			.left a {
				font-size: 20px;
			}
			dl a{
				font-size: 14px;
			}
			dl{
				dt{
					font-size: 25.5px;
				}
			}
		}
		.footer__map{
			display: inline-block;
		}
	}
	// index.html
	.wrap_index{
		.slider{
			width: 100%;
			.slider__list{
				width: 100%;
				background: #000;
				a,span{
					text-align: center;
					font-size: 20px;
				}
			}
			.slider__bg{
				width: 100%;
				img{
					display: none !important;
				}
			}
			.slider__title{
				display: none;
			}
		}
	}
	.copyright_index{
		display: none;
	}
	.h1{
		display: none;
	}
	.news{
		background: #5c8bac;
		&:after{
			width: 100%;
			background: url(../img/icons/news_btmMobile.png) 0px 0px repeat-x;
			z-index: 1000;
		}
	}
	.news__title {
		span{
			background: #5c8bac;
		}
	}
	.news__item{
		display: block;
		margin: 0 auto;
		&:first-child{
			margin: 0 auto;
		}
	}
	.some-info{
		margin-top: 0;
		margin-bottom: 0;
		padding: 30px 15px 10px;
		background: #FFF;
		color: #111;
		position: relative;
		&:after{
			content: "";
			width: 100%;
			height: 9px;
			background: url(../img/icons/some-infoBorder.png) 0px 0px repeat-x;
			position: absolute;
			bottom: 0;
			left: 0;
		}
	}
	.copyright{
		height: 31px;
		line-height: 31px;
		text-align: center;
		.copyright__logo{
			display: none;
		}
		.copyright__info{
			position: static;
		}
	}
	// catalogue.html
	.out__border{
		display: none;
	}
	.content_subNav{
		padding-top: 0;
	}
	.nav{
		display: none;
	}
	.search{
		display: none;
	}
	.h33{
		margin:0;
		padding: 10px;
		border-top: 1px solid #7a7a7a;
		display: block;
		text-align: center;
		.i_waves{
			display: none;
		}
	}
	.photogallery__item{
		width: 96%;
		margin: 0px 2% 2%;
		height: 221px;
		i{
			height: 221px;
		}
		.photogallery__img{
			width: 100%;
			height: 221px;
			overflow: hidden;
		}
	}
	.photogallery__img{
		img{
			width: 100%;
			height: auto;
		}
	}
	.photogallery__item_w100, .photogallery__item_w50{
		width: 96%;
		margin: 0px 2% 10px;
		.photogallery__img{
			img{
				width: 100%;
				min-width: 100%;
			}
		}
	}
	.photogallery__item_long, .photogallery__item_small{
		.photogallery__img {
			img{
				// height: 221px;
			}
		}
	}
	.photogallery__nav{
		display: block;
		margin: 9px 23px 19px;
		li{
			padding: 0 10px;
			height: 44px;
			line-height: 44px;
		}
		a{
			font-size: 18px;
			text-shadow: none;
		}
	}
	.kat{
		margin: 9px;
	}
	.waves{
		&:before{
			top: -8px;
			background: url(../img/icons/waves__mobile.png) 0px 0px repeat-x;
		}
	}
	// catalogue_item.html
	.wrap_paddingBottomForMobile{
		padding-bottom: 10px;
	}
	.breadcrumbs{
		display: none;
	}
	.kat{
		margin: 0 9px;
		.kat__media{
			width: 90%;
			margin: 0 5%;
			img{
				width: 100%;
			}
			&:before{
				// @include s(gsmall);
				top: 50%;
				left: 50%;
				margin-top: -51px;
				margin-left: -50px;
			}
		}
		.kat__descr{
			width: 95%;
			// margin-left: 5%;
			margin-top: 20px;
		}
		.kat__conteiner{
			border-left: none;
		}
		.kat__nav{
			width: 90%;
			margin: 0 5%;
			padding: 0;
			float: none;
			li{
				display: none;
				&:first-child{
					display: block;
					position: relative;
					&:after{
						content: "";
						width: 0px;
						height: 0px;
						border-style: solid;
						border-width: 7px 7px 0 7px;
						border-color: #ffffff transparent transparent transparent;
						position: absolute;
						top: 13px;
						right: 11px;
						&:hover{
							cursor: pointer;
						}
					}
				}
				&:hover{
					background: #4fb8fc;
				}
				a{
					color: #FFF;
				}
			}
			.active{
				background: #000;
			}
		}
		.kat__charac{
			width: 200px;
			// margin-left: 5%;
			margin-bottom: 20px;
		}
		.kat__doc{
			width: 200px;
			// margin-left: 5%;
		}
	}
	// catalogue_section.html
	.product__item{
		width: 90%;
		margin: 0 4%;
	}
	// .product__list{
	// 	width: 100%;
	// 	top: 269px;
	// 	left: 20px;
	// }
	.product__cnt{
		img{
			// width: auto;
			max-width: auto;
		}
	}
	.kat_mod2{
		padding: 35px 0;
		left: 0;
	}
	.active{
		// .product__list{
		// 	margin-left: -20px;
		// 	bottom: -277px;
		// 	padding-right: 0;
		// 	min-width: 230px;
		// }
	}
	.map{
		display: block;
		width: 90%;
		margin: 0 5%;
		iframe{
			width: 100%;
		}
	}
	.support{
		width: auto;
		margin: -35px 0 20px;
		padding: 40px 20px;
		float: none;
	}
	.contact-form{
		width: 90%;
		margin: 0 5%;
		textarea, input{
			width: 100%;
		}  
	}
	// inner_about-service.html
	.kat_mod2{
		.kat_mod__cont{
			width: auto;
			padding: 20px;
			float: none;
		}
	}
	// inner_proj.html
	.slider_proj{
		width: 90%;
		margin: 0 5%;
		background: #fff;
		padding-top: 10px;
		.slider__item{
			width: 100%;
			margin-right: 0;
			float: none;
		}
		.slider__media{
			display: none;
		}
		.slider__meta{
			width: 100%;
		}
		.scrollable__media{
			width: 112%;
			margin-left: -6%;
		}
		.scrollable__list{
			display: none;
		}
		.item__conteiner{
			width: 90%;
			padding: 20px 5%;
			border-left: 0;
			.item__data{
				padding-left: 0;
				padding-right: 0;
				h1{
					display: none;
				}
			}
		}
		.is-active{
			background: transparent;
			span, div{
				color: #FFF;
				&:hover{
					color: red;
				}
			}
		}
		.scrollable__next, .scrollable__prew{
			top: 40%;
		}
		.scrollable__next{
			left: -6%;
		}
		.scrollable__prew{
			right: -6%;
		}
	}
	// inner_buy.html
	.slider_innerBuy{
		width: 90%;
		margin: 0 5%;
		.item__conteiner{
			width: auto;
			padding: 30px 15px 30px 15px;
			margin-right: 0;
			margin-left: 0;
			float: none;
			border-left: none;
		}
		.slider__list{
			li{
				&:first-child{
					background: #000;
				}
				a, span{
					color: #fff;
				}
			}
		}
	}
	// inner_collection.html
	.slider_collectionMod{
		width: 94%;
		padding-top: 10px;
		margin: 0 3%;
		background: #FFF;
		.item__conteiner{
			width: auto;
			margin-left: 0;
			margin-right: 0;
			border-left: none;
			float: none;
		}
		.photogallery__nav{
			display: block;
		}
	}
	// inner_userfull-article.html
	.scrollable_small {
		margin-right: 0;
		.scrollable__media{
			width: 100%;
			img{
				margin-bottom: 15px;
			}
		}
	}
	.kat_mod__img{
		width: 100%;
		img{
			width: 100%;
		}
	}
	// inner_autorization.html
	.download__item{
		.download__ico{
			float: left;
		}
		.download__note{
			width: auto;
			display: block;
		}
		.download__eye{
			display: none;
		}
		.download__title, .download__wt{
			margin-left: 50px;
		}
	}
	// inner_userfull.html
	.scroll__media{
		display: none;
	}
	.scroll__cont{
		width: auto;
		float: none;
	}
	// inner_news.html
	.date{
		display: none;
	}
	// inner_download.html & inner_download2.html
	.download__right{
		float: none;
		margin-bottom: 25px;
	}
	.download__right{
		margin: 0 auto 25px;
	}
	.download__left{
		padding-right: 0;
	}
	// inner_proj.html, inner_buy.html, inner_collection.html
	.slider_proj, .slider_innerBuy, .slider_collectionMod{
		.slider__list{
			width: 90%;
			margin: 0 5%;
			padding: 0;
			float: none;
			li{
				display: none;
				width: 100%;
				padding: 0 12px;
				height: 40px;
				line-height: 40px;
				margin-left: 0;
				&:hover{
					width: 100%;
					background: #4db7fc;
					cursor: pointer;
				}
				&:first-child{
					display: block;
					&:after{
						content: "";
						width: 0px;
						height: 0px;
						border-style: solid;
						border-width: 7px 7px 0 7px;
						border-color: #ffffff transparent transparent transparent;
						position: absolute;
						top: 18px;
						right: 11px;
						&:hover{
							cursor: pointer;
						}
					}
				}
				a, span{
					padding: 0;
					&:hover{
						color: #FFF;
					}
				}
			}
		}
	}
	.js-select-sity{
		width: auto;
	}
	#choose-sity{
		width: 100%;
	}
}
@media only screen and (min-width: 320px) and (max-width: 482px) {
	.proj__item{
		width: 100%;
	}
	.proj__img{
		width: 100%;
		img{
			width: 100%;
		}
	}
	.proj__border{
		width: 100%;
	}
	.proj__item_ImgBottom {
		.proj__img{
			margin-top: 0;
			position: static;
		}
		.proj__descr{
			position: static !important;
		}
		.triangle{
			top: 260px;
			left: auto;
			right: 15px;
		}
	}
}
@media only screen and (min-width: 483px) and (max-width: 767px) {
	.proj__item{
		width: 50%;
		float: left;
	}
		.proj__border{
			width: 100%;
		}
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
	// inner_one.html
	.proj{
		width: 90%;
		margin: 0 5%;
	}
	// .proj__item{
	// 	.proj__border{
	// 		top: -13px;
	// 		height: 100%;
	// 	}
	// }
	// .proj__item_ImgBottom{
	// 	.proj__img{
	// 		margin-top: 218px;
	// 		position: static;
	// 	}
	// 	.proj__descr{
	// 		position: absolute;
	// 		top: 0;
	// 	}
	// }
}
@media only screen and (min-width: 100px) and (max-width: 439px) {
	.product__item{
		width: 90%;
		margin: 0 4%;
	}
}
@media only screen and (min-width: 440px) and (max-width: 767px) {
	.product__item{
		width: 48%;
		margin: 0;
	}
		.proj__img{
			width: auto;
		}
}

@media only screen and (min-width: 100px) and (max-width: 570px) {
	.sity{
		width: 96%;
		padding: 2%;
	}
}
@media only screen and (min-width: 571px) and (max-width: 767px) {
	.sity{
		width: 46%;
		padding: 2%;
	}
}
@media only screen and (min-width: 320px) and (max-width: 649px) {
	.slider_collection{
		.slider__item{
			width: 90%;
			margin: 0 5% 3% !important;
			&:nth-child(4n+1){
				margin: 0 5%;
			}
			&:nth-child(4n){
				margin: 0 5%;
			}
		}
	}
}
@media only screen and (min-width: 650px) and (max-width: 767px) {
	.slider_collectionMod{
		.slider__item{
			width: 46%;
			margin: 0 2% 3% !important;
		}
	}
}
@media only screen and (min-width: 767px) and (max-width: 800px) {
	.h1{
		span{
			&:after, &:before{
				content:none;
			}
		}
	}
}
