////////////////////////// * media screen *////////////////////////////
@media only screen and (min-width: 1200px) {
    // layout for all pages
	.header{
		width: 1200px;
		margin: 0 auto;
	}
	.h1{
		width: 1200px;
		margin: 30px auto;
	}
	.wrap{
        width: 1200px;
        .scroll__cont_news{
            overflow: hidden;
        }
        .scroll__cont{
            width: auto;
            float: none;
        }
        .date{
            margin-left: 40px;
        }
	}
    .logo{
		margin-right: 130px;
    }
    .content{
    	width: auto;
    	padding-bottom: 15px;
    	display: block;
    }
    .footer__wrap{
        width: 1200px;
    }
    .footer__left{
        width: 900px;
        margin-right: 0;
        .left{
            width: 660px;
            li{
                &:first-child{
                    width: 660px;
                }
            }
        }
        .right{
            width: 240px;
            li{
                &:first-child{
                    width: 240px;
                }
            }
        }

    }
    .footer__right{
        float: right;
    }
    // index.html
    .slider{
        width: 90%;
        margin: 0 auto;
        .slider__bg{
            width: 100%;
            height: 100%;
        }
    }
        .slider__list{

        }
        .slider__title{
        	left: 330px;
        }
        .slider__bg{
            margin-right: 200px;
            a{
                display: block;
            }
        	img{
                width: 100%;
                height: 100%;
            }
        }
    .news{
        &:after{
            width: 100%;
            background: url('../img/icons/news_btm2.png') 0 0px repeat-x;
        }

    }
        .news__items{
            margin-right: 0;
            // margin-left: 80px;
        }

    // inner_buy.html
    .slider_innerBuy{
        width: 1200px;
    }
    .slider_collection {
        .item__conteiner{
            width: 1025px;
        }
    }
    // catalogue_item.html
    .kat__conteiner{
        width: 1025px;
    }
    .kat__descr{
        width: auto;
        float: none;
        overflow: hidden;
    }
    // inner_about-service.html
    .kat_mod2 {
        .kat_mod__cont{
            width: auto;
            overflow: hidden;
            float: none;
            margin-right: 35px;
        }
    }
    // inner_about-contacts.html
    .support_aboutContacts{
        float: none;
        margin: 0 auto;
        padding: 45px 95px 40px;
    }
    .contact-form{
        width: 425px;
        float: none;
        margin: 0 auto;
        width: 400px;
        background: #C1E4FC;
        padding: 50px;
        text-align: center;
        .i_er{
            right: 36px;
        }
    }
    // inner_autorization.html
    .download__left{
        width: 100%;
    }
    // inner_proj.html
    .slider_innerProj{
        margin-right: -31px;
    }
    .slider_collection {
        .slider__item{
            margin-right: 31px;
        }
    }
    .slider_proj{
        .item__conteiner{
            width: 905px;
        }
    }
    .scrollable__media{
        width: 100%;
    }
    .scrollable__list{
        margin-right: -8px;
        i{
            width: 138px;
        }
        li{
            width: 152px;
            &:last-child{
                i{
                    width: 131px;
                }
            }
        }
    }
    // inner_download.html
    .download__left_innerDownload{
        width: 845px;
    }
}